﻿@model IEnumerable<MountainAir.Common.Data.Models.BlobViewModel>


<div class="card">
	<div class="card-header">
		<h5 class="card-title">Attachments</h5>
	</div>
	<div class="card-body">
		<table class="table table-striped table-condensed">
			<tr>
				<th>
					File Name
				</th>
				<th>
					Link
				</th>
			</tr>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@item.FormattedName
					</td>
					<td>
						<a asp-controller="Attachments" asp-action="Download" asp-route-estimateId="@item.EstimateId" asp-route-fileName="@item.Name" target="_blank">View</a>
					</td>
				</tr>
			}
		</table>
	</div>
</div>