﻿@model MountainAir.Common.Data.Models.Estimate

<div class="list-group">
    @foreach (var room in Model.Rooms)
    {
    <div class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">@room.RoomName</h5>
            <small>@($"{room.RoomWidth.GetValueOrDefault(0)} W x {room.RoomLength.GetValueOrDefault(0)} L x {room.CeilingHeight.GetValueOrDefault(0)} H - {room.ExposedWall.GetValueOrDefault(0)} Exposed Wall")</small>
        </div>
        <hr />
        <div class="row">
            <div class="col">
                <h6 class="mb-1">Cooling Data</h6>
                <table class="table table-condensed table-striped">
                    <tr>
                        <th>Ceiling R Value</th>
                        <td>@room.CeilingRValue.GetValueOrDefault(0)</td>
                        <th>Warm Ceiling Percent</th>
                        <td>@room.WarmCeilingPercent.GetValueOrDefault(0)</td>
                    </tr>
                    <tr>
                        <th>Floor R Value</th>
                        <td>@room.FloorRValue.GetValueOrDefault(0)</td>
                        <th>Warm Floor Percent</th>
                        <td>@room.WarmFloorPercent.GetValueOrDefault(0)</td>
                    </tr>
                </table>
            </div>
            <div class="col">
                <h6 class="mb-1">Heating Data</h6>
                <table class="table table-condensed table-striped">
                    <tr>
                        <th>Exposed Wall</th>
                        <td>@room.ExposedWall.GetValueOrDefault(0)</td>
                        <th>Cold Floor</th>
                        <td>@room.ColdFloorBtu.GetValueOrDefault(0)</td>
                    </tr>
                    <tr>
                        <th>Cold Ceiling</th>
                        <td>@room.ColdCeilingBtu.GetValueOrDefault(0)</td>
                        <th>Room Total</th>
                        <td>@room.RoomTotal.GetValueOrDefault(0)</td>
                    </tr>
                    <tr>
                        <th>Heating CFM</th>
                        <td>@room.HeatingCFM.GetValueOrDefault(0)</td>
                        <th>Heating Registers</th>
                        <td>@room.HeatingRegisters.GetValueOrDefault(0)</td>
                    </tr>
                    <tr>
                        <th>Cold Ceiling</th>
                        <td>@room.ColdCeilingBtu.GetValueOrDefault(0)</td>
                        <th>Warm Floor Percent</th>
                        <td>@room.WarmFloorPercent.GetValueOrDefault(0)</td>
                    </tr>
                </table>
                <table class="table table-striped table-condensed">
                    <tr>
                        <th></th>
                        <th>Sliding Area</th>
                        <th>Fixed Area</th>
                        <th>Infiltration</th>
                    </tr>
                    <tr>
                        <th>Doors</th>
                        <td>@room.DoorArea</td>
                        <td></td>
                        <td>@room.DoorInfiltration</td>
                    </tr>
                    <tr>
                        <th>Windows</th>
                        <td>@room.WindowSlidingArea.GetValueOrDefault(0)</td>
                        <td>@room.WindowFixedArea.GetValueOrDefault(0)</td>
                        <td>@room.WindowInfiltration.GetValueOrDefault(0)</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
    }
</div>
