﻿@model MountainAir.Common.Data.Models.Estimate


<div>
	<div class="row">
		<div class="col">

		</div>
		<div class="col">
			<div class="row">
				<div class="col">@($"{Model.InstallationDate:MM/dd/yyyy}")</div>
				<div class="col text-right">@Model.Customer.DisplayName</div>
			</div>
			<div class="row">
				<div class="col text-right">
					@Model.Address?.DisplayValue
				</div>
			</div>
			<div class="row">
				<div class="col text-right">
					@Model.Customer.PhoneNumber1
				</div>
			</div>
			<div class="row">
				<div class="col text-right">
					@Model.Customer.PhoneNumber2
				</div>
			</div>
			<div class="row">
				<div class="col">
					Design Specialist
				</div>
				<div class="col text-right">
					@($"{Model.DesignerName} - {Model.DesignerPhone}")
				</div>
			</div>
		</div>
	</div>
	<hr />
	<div class="row">
		@foreach (var option in Model.EstimateOptions.OrderBy(i => i.OptionNumber).Take(3))
		{
			<div class="col">
				<div class="alert @(option.EstimateOptionId == Model.SelectedOptionId ? "alert-warning font-weight-bold" : "alert-info")">
					@(option.EstimateOptionId == Model.SelectedOptionId ? $"**{option.OptionName}**" : option.OptionName)
				</div>
				<div>
					@foreach (var optionItem in option.OptionItems.Where(o => !o.DeferredCredit).OrderBy(i => i.Section))
					{
						<div class="d-flex justify-content-between">
							<span>@optionItem.CustomerDesc</span>
							<span class="text-right">
								@if (optionItem.InstantCredit)
								{
									@($"-{optionItem.TotalPrice.GetValueOrDefault(0):C}")
								}
								else
								{
									@($"{optionItem.TotalPrice.GetValueOrDefault(0):C}")
								}
							</span>
						</div>
					}
					<hr />
					<div class="d-flex justify-content-between">
						<span class="font-weight-bold">Total</span>
						<span class="text-right font-weight-bold">@option.SubTotal.GetValueOrDefault(0).ToString("C")</span>
					</div>
					@foreach (var optionItem in option.OptionItems.Where(o => o.DeferredCredit).OrderBy(i => i.Section))
					{
						<div class="d-flex justify-content-between">
							<span>@optionItem.CustomerDesc</span>
							<span class="text-right">-@optionItem.TotalPrice.GetValueOrDefault(0).ToString("C")</span>
						</div>
					}
					<hr />
					<div class="d-flex justify-content-between">
						<span class="font-weight-bold">Total Investment After Incentives</span>
						<span class="text-right font-weight-bold">@option.Total.GetValueOrDefault(0).ToString("C")</span>
					</div>
				</div>
			</div>
		}
	</div>
</div>