﻿@model MountainAir.Web.Models.EstimateEditModel

<div class="col">
	<div class="row">
		<div class="col">
			<div class="mb-3">
				<label asp-for="Estimate.CustomerFirstName"></label>
				<input asp-for="Estimate.CustomerFirstName" class="form-control" disabled />
			</div>
		</div>
        <div class="col">
            <div class="mb-3">
                <label asp-for="Estimate.CustomerLastName"></label>
				<input asp-for="Estimate.CustomerLastName" class="form-control" disabled />
            </div>
        </div>
		<div class="col mb-3">
			<label asp-for="Estimate.CompanyName"></label>
			<input asp-for="Estimate.CompanyName" class="form-control" disabled />
		</div>
	</div>
</div>
<div class="col">
	<div class="row">
		<div class="col mb-3">
			<label>Installation Address</label>
			<input asp-for="Estimate.InstallAddressDisplayValue" class="form-control" disabled />
		</div>
		<div class="col mb-3">
			<label>Billing Address</label>
			<input asp-for="Estimate.BillingAddressDisplayValue" class="form-control" disabled />
		</div>
	</div>
</div>
<div class="col">
	<div class="row">
		<div class="col">
			<div class="mb-3">
				<label asp-for="Estimate.DesignerName"></label>
				<input asp-for="Estimate.DesignerName" class="form-control" disabled />
			</div>
		</div>
		<div class="col">
			<div class="mb-3">
				<label asp-for="Estimate.DesignerPhone"></label>
				<input asp-for="Estimate.DesignerPhone" class="form-control" disabled />
			</div>
		</div>
	</div>
</div>
<div class="col">
	<div class="row">
		<div class="col mb-3">
			<label asp-for="Estimate.FinancingString"></label>
			<input asp-for="Estimate.FinancingString" class="form-control" disabled />
		</div>
		<div class="col mb-3">
			<label asp-for="Estimate.PaymentMethod"></label>
			<input asp-for="Estimate.PaymentMethod" class="form-control" disabled />
		</div>
	</div>
</div>
<div class="col">
	<div class="row">
		<div class="col mb-3">
			<label asp-for="Estimate.InstallationDate"></label>
			<input class="form-control" type="text" value="@(Model.Estimate.InstallationDate?.ToShortDateString())" disabled />
		</div>
		<div class="col mb-3">
			<label asp-for="Estimate.ApprovalDate"></label>
			<input class="form-control" type="text" value="@(Model.Estimate.ApprovalDate?.ToShortDateString())" disabled />
		</div>
	</div>
</div>
<hr />
<div class="col">
	<div class="row">
		<div class="col mb-3">
			<label>Created By</label>
			<input asp-for="Estimate.Created.FullName" class="form-control" disabled />
		</div>
		<div class="col mb-3">
			<label asp-for="Estimate.CreatedDate"></label>
			<input asp-for="Estimate.CreatedDate" class="form-control" disabled />
		</div>
	</div>
	<div class="row">
		<div class="col mb-3">
			<label>Last Updated By</label>
			<input asp-for="Estimate.Updated.FullName" class="form-control" disabled />
		</div>
		<div class="col mb-3">
			<label asp-for="Estimate.UpdatedDate"></label>
			<input asp-for="Estimate.UpdatedDate" class="form-control" disabled />
		</div>
	</div>
</div>
<hr />
<input type="hidden" id="hidEstimateId" asp-for="Estimate.EstimateId"/>
<div class="col">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Update Estimate</h5>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label asp-for="Estimate.AssignedTo"></label>
                        <select id="cboAssigned" asp-for="Estimate.AssignedTo" asp-items="@Model.AssignedTo" class="form-control"></select>
                    </div>
                    <div class="mb-3">
                        <label class="form-check-label">Active</label>
                        <br/>
                        <input id="chkActive" class="form-check" asp-for="Estimate.Active" type="checkbox"/>
                    </div>
                    <hr/>
                    <div class="mb-3">
                        <button id="btnSave" class="btn btn-primary">Save</button>
                        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <ul class="list-group">
                <h5 class="list-group-item-heading">Links</h5>
                <li class="list-group-item"><a asp-action="AhriAddendum" asp-controller="Estimates" asp-route-id="@Model.Estimate.EstimateId" target="_blank">AHRI Addendum</a></li>
				@foreach (var warranty in Model.Estimate.Warranties)
				{
					<li class="list-group-item"><a asp-action="WarrantyAgreement" asp-controller="Estimates" asp-route-id="@warranty.Id" target="_blank">@($"{warranty.DisplayText} - {warranty.TermText}")</a></li>
				}
            </ul>
        </div>
    </div>
   
</div>
