﻿@model MountainAir.Common.Data.Models.Estimate
@{
    var selectedOption = Model.EstimateOptions.FirstOrDefault(i => i.EstimateOptionId == Model.SelectedOptionId);
}

<div class="panel panel-primary">
    <div class="panel-heading">Customer Information</div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <td class="tdLabel">Print Date</td>
                <td>@DateTime.Now.ToShortDateString()</td>
            </tr>
            <tr>
                <td class="tdLabel">
                    Design Specialist
                </td>
                <td>
                    @Model.DesignerName
                </td>
            </tr>
            <tr>
                <td class="tdLabel">
                    Full Name
                </td>
                <td>
	                @($"{Model.Customer.DisplayName} - {Model.Customer.CompanyName}")
                </td>
            </tr>
            <tr>
                <td class="tdLabel">Site Address</td>
                <td>
                    @Model.Address?.DisplayValue
                </td>
            </tr>
            <tr>
                <td class="tdLabel">
                    Phone
                </td>
                <td>@Model.Customer.PhoneNumber1 / @Model.Customer.PhoneNumber2</td>
            </tr>
            <tr>
                <td class="tdLabel">Installation Date</td>
                <td>@(Model.InstallationDate.HasValue ? Model.InstallationDate.Value.ToShortDateString() : "")</td>
            </tr>
        </table>
    </div>
</div>
<div class="panel panel-success">
    <div class="panel-heading">
        Equipment Information
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered">
            <tr>
                <th>System Number</th>
                <th>Catalog Number</th>
	            <th>Model Number</th>
	            <th>Location</th>
                <th>Description</th>
                <th>Qty</th>
                <th>Act</th>
            </tr>
            @if (selectedOption != null)
            {
                @foreach (var option in selectedOption.OptionItems.OrderBy(o => o.SystemNumber).ThenBy(i => i.Section))
                {
                    <tr style="@(!string.IsNullOrEmpty(option.CatalogNum) ? "height:144px;" : "")">
                        <td>@option.SystemNumber</td>
                        <td>@option.CatalogNum</td>
	                    <td>@option.ModelNum</td>
	                    <td>@option.Location</td>
                        <td>@option.Descr</td>
                        <td>@option.Quantity</td>
                        <td></td>
                    </tr>
                    foreach (var mat in option.SpecialMaterial)
                    {
                        <tr style="@(!string.IsNullOrEmpty(option.ModelNum) ? "height:144px;" : "")">
                            <td>@option.SystemNumber</td>
                            <td>@mat.CatalogNum</td>
	                        <td>@mat.ModelNum</td>
	                        <td>@mat.Location</td>
                            <td>@mat.Descr</td>
                            <td>@mat.Quantity</td>
                            <td></td>
                        </tr>
                    }
                }
            }
        </table>
    </div>
</div>
@if (selectedOption != null)
{
    @foreach (var option in selectedOption.OptionItems.Where(i => (new int[] { 0, 1 }).Contains(i.Section)))
    {
        <div style="page-break-after:always;">
            <partial name="_WorkOrderPage" model="option" />
        </div>
    }
}