﻿@model IEnumerable<MountainAir.Common.Data.Models.MaterialReport>
<table class="table table-condensed table-bordered">
    <tr>
        <th style="white-space: nowrap; width: 75px;">KeyCode</th>
        <th style="white-space: nowrap;">Catalog Num</th>
        <th style="white-space: nowrap;">Qty</th>
        <th style="white-space: nowrap;">Act</th>
    </tr>
    @{
        string lastCategory = "";
        string className = "SectionOne";

        foreach (var material in Model.OrderBy(m => m.SortOrder).ThenBy(m => m.CategoryName))
        {
            if (lastCategory != material.CategoryName)
            {
                if (className == "SectionOne")
                {
                    className = "SectionTwo";
                }
                else
                {
                    className = "SectionOne";
                }
                lastCategory = material.CategoryName;
                <tr>
                    <td colspan="4" class="@className">@material.CategoryName</td>
                </tr>
            }

            <tr>
                <td class="@className">@material.KeyCode</td>
                @if (string.Compare(material.CategoryName, "Thermostats", StringComparison.InvariantCultureIgnoreCase) == 0)
                {
                    <td class="@className">@material.Descr</td>
                }
                else
                {
                    <td class="@className">@material.CatalogNum</td>
                }
                @if (@material.Quantity > 0)
                {
                    <td class="hightlighted">@material.Quantity</td>
                }
                else
                {
                    <td class="@className">@material.Quantity</td>
                }
                <td class="@className">&nbsp;</td>
            </tr>
        }
    }
</table>





