﻿@model MountainAir.Common.Data.Models.Estimate

<div class="card">
    <div class="card-body">
        <div class="mb-3">
            <label asp-for="EstimateNotes"></label>
            <textarea class="form-control" asp-for="EstimateNotes" rows="10" readonly></textarea>
        </div>
    </div>
</div>