﻿@model MountainAir.Web.Models.EstimateEditModel
@{
    bool IsSelectedOption(MountainAir.Common.Data.Models.EstimateOption option)
    {
        return option.EstimateOptionId == Model.Estimate.SelectedOptionId;
    }

    string SelectedOptionClass(MountainAir.Common.Data.Models.EstimateOption option)
    {
        if (IsSelectedOption(option))
            return "alert alert-success font-italic";
        else
            return "";
    }

    (int Labor, decimal Cost) GetCost(MountainAir.Common.Data.Models.EstimateOption option, int section)
    {
        switch (section)
        {
            case 0:
                return ((int)option.HeatingLabor.GetValueOrDefault(0), option.HeatingCost.GetValueOrDefault(0));
            case 1:
                return ((int)option.CoolingLabor.GetValueOrDefault(0), option.CoolingCost.GetValueOrDefault(0));
            case 2:
                return ((int)option.NoMarkupLabor.GetValueOrDefault(0), option.NoMarkupCost.GetValueOrDefault(0));
            case 3:
                return ((int)option.IncentiveLabor.GetValueOrDefault(0), option.IncentiveCost.GetValueOrDefault(0));
            default:
                return (0, 0);
        }
    }
}

@foreach (var option in Model.Estimate.EstimateOptions.Where(i => i.OptionItems.Any()).OrderBy(i => i.OptionNumber))
{
    <div class="card" style="font-size:0.8em;">
        <div class="card-header">
            <h5 class="card-title @(SelectedOptionClass(option))">@option.OptionName @(IsSelectedOption(option) ? " **Customer Selected Option**" : "")</h5>
        </div>
        <div class="card-body">
            <table class="table table-condensed">
                <tr>
                    <th>System Number</th>
                    <th>Catalog Number</th>
                    <th>Description</th>
                    <th>Labor</th>
                    <th>Total</th>
                </tr>
                @foreach (var section in Model.Sections)
                {
                    @if (option.OptionItems.Any(i => i.Section == section.Key))
                    {
                        <tr class="alert alert-primary">
                            <td colspan="5"><b>@(section.Value)</b></td>
                        </tr>
                        @foreach (var item in option.OptionItems.Where(i => i.Section == section.Key).OrderBy(i => i.SystemNumber).ThenBy(i => i.CatalogNum))
                        {
                            <tr>
                                <td>@item.SystemNumber</td>
                                <td>@item.CatalogNum</td>
                                <td>@item.Descr</td>
                                <td>@($"{(int)item.TotalLabor.GetValueOrDefault(0)}")</td>
                                <td>@($"{item.TotalPrice:C}")</td>
                            </tr>
                        }
                        <tr>
                            <th colspan="3">Section Total</th>
                            <th>@(GetCost(option, section.Key).Labor)</th>
                            <th>@($"{GetCost(option, section.Key).Cost:C}")</th>
                        </tr>
                    }
                }
                <tr class="alert alert-dark font-weight-bold">
                    <td colspan="3">Grand Total</td>
                    <td>@($"{(int)option.LaborTotal.GetValueOrDefault(0)}")</td>
                    <td>@($"{option.Total:C}")</td>
                </tr>
            </table>
        </div>
    </div>
    <hr />
}
