﻿@model MountainAir.Common.Data.Models.Warranty
<table class="table table-sm">
    <tr>
        <td><img src="/images/logo.png" style="height: 100px;" alt="Letterhead" /></td>
        <td class="align-middle text-end"><h3>@Model.DisplayText</h3></td>
    </tr>
</table>