﻿@model MountainAir.Common.Data.Models.Estimate
@{
    Layout = "";
    ViewData["Title"] = "AHRI Addendum";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MountainAir</title>

    <partial name="_CssPartial" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comforter&display=swap" rel="stylesheet">

    <style type="text/css">
        .pageHeader {
            background-color: darkgray;
            font-weight: bold;
            padding-left: 5px;
        }

        .pageSubHeader {
            background-color: lightgray;
            font-weight: bold;
            font-style: italic;
            padding-left: 5px;
        }

        .underline {
            border-bottom: solid 1pt black;
        }

        td {
            white-space: nowrap;
            vertical-align: bottom;
            padding: 3px;
        }

        .pageBody {
            padding: 10px;
        }

        body {
            min-height: 100vh;
            margin: 10px;
            padding: 10px;
            box-sizing: border-box;
            font-size: small;
            font-family: Times-New-Roman
        }

        footer {
            height: 50px;
            position: absolute;
            bottom: 0;
        }

        .signatureBlock {
            font-size: 10pt;
            border-bottom: none;
        }
    </style>
</head>
<body class="container d-flex flex-column min-vh-100">
    <content class="card p-0">
        <div class="pageHeader">
            Option 4: For assigning payments to contractor
        </div>
        <div class="pageSubHeader">
            Instructions
        </div>
        <div class="pageBody">
            Account holders have the option of completing the Third Party Payment Addendum for assigning payments to a contractor by
            completing the information below. The account holder and the contractor must both authorize incentive payment and the contractor
            must submit a completed and signed W­-9, unless already submitted during trade ally enrollment (<a href="https://www.irs.gov/pub/irs­-pdf/fw9.pdf" target="_blank">www.irs.gov/pub/irs­-pdf/fw9.pdf</a>).
        </div>
        <div class="pageSubHeader">
            Installation Address
        </div>
        <div class="pageBody">
            <div class="row">
                <div class="col-auto">
                    Name on Account
                </div>
                <div class="col underline">
                    @(Model.Customer.DisplayName)
                </div>
            </div>
            <div class="row">
                <div class="col-auto">
                    Property name (if applicable)
                </div>
                <div class="col underline">
                    @(Model.Customer.CompanyName)
                </div>
            </div>
            <div class="row">
                <div class="col-auto">
                    Installation address
                </div>
                <div class="col-3 underline">
                    @(Model.Address?.AddressLine1)
                </div>
                <div class="col-auto">
                    City
                </div>
                <div class="col underline">
                    @(Model.Address?.City)
                </div>
                <div class="col-auto">
                    State
                </div>
                <div class="col underline">
                    @(Model.Address?.State)
                </div>
                <div class="col-auto">
                    Zip
                </div>
                <div class="col underline">
                    @(Model.Address?.Zip)
                </div>
            </div>
        </div>
        <div class="pageSubHeader">
            Contractor Information
        </div>
        <div class="pageBody">
            <div class="row">
                <div class="col-auto">
                    Contractor name (must match contractor’s submitted IRS Form W­9)
                </div>
                <div class="col underline">
                    Mountain Air Conditioning & Heating
                </div>
            </div>
        </div>
        <div class="pageBody">
            <div class="row">
                <div class="col-auto">
                    Mailing address
                </div>
                <div class="col-3 underline">
                    3385 S 1325 W
                </div>
                <div class="col-auto">
                    City
                </div>
                <div class="col underline">
                    Ogden
                </div>
                <div class="col-auto">
                    State
                </div>
                <div class="col underline">
                    UT
                </div>
                <div class="col-auto">
                    Zip
                </div>
                <div class="col underline">
                    84401
                </div>
            </div>
        </div>
        <div class="pageBody">
            <div class="row">
                <div class="col-auto">
                    Email Address
                </div>
                <div class="col underline">
                    myra@mountainairutah.com
                </div>
                <div class="col-auto">
                    Daytime Phone Number
                </div>
                <div class="col underline">
                    (801) 333-4042
                </div>
            </div>
        </div>
        <div class="pageSubHeader">
            Authorized Representative Certification
        </div>
        <div class="pageBody">
            I hereby certify that all information is accurate, including the claims of customer and equipment information and property
            ownership. I have read all terms and conditions on the applicable Wattsmart&reg; Homes Program incentive application and
            acknowledge that Rocky Mountain Power may verify all the information provided.
        </div>
        <div class="pageBody">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 15%;">
                        Account Holder Printed Name
                    </td>
                    <td class="underline">
                        @(Model.Customer.DisplayName)
                    </td>
                    <td style="text-align: right; padding-right: 10px;">
                        Signature
                    </td>
                    <td class="underline">
                        <img src="@Url.Action("Get", "Signatures", new { id = Model.EstimateId })" alt="" height="30" style="display: inline-block;" />
                    </td>
                    <td style="text-align: right; padding-right: 10px;">
                        Date
                    </td>
                    <td class="underline">
                        @(Model.ApprovalDate?.ToShortDateString())
                    </td>
                </tr>
                <tr>
                    <td>
                        Contractor Printed Name
                    </td>
                    <td class="underline">
                        Myra Rapides
                    </td>
                    <td style="text-align: right; padding-right: 10px;">
                        Signature
                    </td>
                    <td class="underline" style="font-family: 'Comforter', cursive;">
                        Myra Rapides
                    </td>
                    <td style="text-align: right; padding-right: 10px;">
                        Date
                    </td>
                    <td class="underline">
                        @(Model.ApprovalDate?.ToShortDateString())
                    </td>
                </tr>
            </table>
        </div>
    </content>
<footer class="container">
    <div>
        @Model.SelectedOption?.AhriDescription
    </div>
    <div class="d-flex justify-content-between">
        <div>
            RMP Third Party Payment Addendum 0316
        </div>
        <div>
            Page 3 of 3
        </div>
    </div>
</footer>
</body>
</html>