﻿@model MountainAir.Common.Data.Models.vEstimateList

@{
    ViewData["Title"] = "Attachments";
}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">@ViewData["Title"]</h5>
    </div>
    <div class="card-body">
        <div class="col-md-6">
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label asp-for="CustomerFullName"></label>
                        <input class="form-control" asp-for="CustomerFullName" readonly />
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label asp-for="AssignedFullName"></label>
                        <input class="form-control" asp-for="AssignedFullName" readonly />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table table-striped table-condensed">
                        <tr>
                            <th>
                                File Name
                            </th>
                            <th>
                                Link
                            </th>
                        </tr>
                        @foreach (var item in Model.Attachments)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    <a class="btn btn-info" asp-controller="Attachments" asp-action="Download" asp-route-estimateId="@item.EstimateId" asp-route-fileName="@item.Name" target="_blank">&#128270; View</a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
