﻿@model MountainAir.Web.Models.EstimateEditModel
@{
	ViewData["Title"] = "Edit Proposal";
	NavPages.AddActivePage(ViewData, NavPages.Pages.Estimates);
}

@section Head {
	<style type="text/css">
		td.tdLabel {
			white-space: nowrap;
			font-weight: bold;
		}

		td.tdLeft {
			width: 25%;
		}

		td.tdRight {
			width: 75%;
		}

		div.PageBody {
			position: relative;
			top: 0;
			left: 0;
			right: 0;
			margin: auto;
			background-color: white;
		}

		img.SectionIcon {
			width: 150px;
			height: 150px;
		}

		td.SectionOne {
			background-color: lightgray !important;
		}

		td.SectionTwo {
			background-color: white !important;
		}

		td.hightlighted {
			background-color: #ffff00 !important;
		}
	</style>
	<link href="/css/TableStyles.css" rel="stylesheet" />
	<link href="/css/PanelStyles.css" rel="stylesheet" />
	@*<link href="/css/Reports.css" rel="stylesheet" />*@
}
<input type="hidden" asp-for="Estimate.EstimateId" />

<div class="container">
	<div class="card">
		<div class="card-header">
			<h5 class="card-title">@ViewData["Title"]</h5>

		</div>
		<div class="card-body">
			<div>
				<div class="alert @(Model.Estimate.ReadyToProcess == true ? "alert-success" : "alert-danger") text-center font-weight-bold">@(Model.Estimate.ReadyToProcess == true ? "Ready" : "Not Ready")</div>
			</div>
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
					<button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#info" role="tab" aria-controls="info" aria-selected="true">Information</button>
				</li>
				<li class="nav-item">
					<button class="nav-link" id="attachments-tab" data-bs-toggle="tab" data-bs-target="#attachments" role="tab" aria-controls="attachments" aria-selected="false">Attachments</button>
				</li>
				<li class="nav-item">
					<button class="nav-link" id="notes-tab" data-bs-toggle="tab" data-bs-target="#notes" role="tab" aria-controls="notes" aria-selected="false">Notes</button>
				</li>
				<li class="nav-item">
					<button class="nav-link" id="calc-tab" data-bs-toggle="tab" data-bs-target="#calc" role="tab" aria-controls="calc" aria-selected="false">Calculations</button>
				</li>
				<li class="nav-item">
					<button class="nav-link" id="options-tab" data-bs-toggle="tab" data-bs-target="#options" role="tab" aria-controls="options" aria-selected="false">Options</button>
				</li>
				<li class="nav-item">
					<button class="nav-link" id="estimate-tab" data-bs-toggle="tab" data-bs-target="#estimate" role="tab" aria-controls="estimate" aria-selected="false">Estimate Preview</button>
				</li>
				<li class="nav-item">
					<button class="nav-link" id="install-tab" data-bs-toggle="tab" data-bs-target="#install" role="tab" aria-controls="install" aria-selected="false">Install Workorder</button>
				</li>
				<li class="nav-item">
					<button class="nav-link" id="office-tab" data-bs-toggle="tab" data-bs-target="#office" role="tab" aria-controls="office" aria-selected="false">Office Workorder</button>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent" style="padding-top:20px;">
				<div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
					<partial name="_InfoPartial" model="Model" />
				</div>
				<div class="tab-pane fade" id="attachments" role="tabpanel" aria-labelledby="attachments-tab">
					<partial name="_AttachmentsPartial" model="Model.Estimate.Attachments" />
				</div>
				<div class="tab-pane fade" id="notes" role="tabpanel" aria-labelledby="notes-tab">
					<partial name="_NotesPartial" model="Model.Estimate" />
				</div>
				<div class="tab-pane fade" id="calc" role="tabpanel" aria-labelledby="calc-tab">
					<partial name="_ReportPartial" model="Model.Estimate" />
				</div>
				<div class="tab-pane fade" id="options" role="tabpanel" aria-labelledby="options-tab">
					<partial name="_OptionsPartial" model="Model" />
				</div>
				<div class="tab-pane fade" id="estimate" role="tabpanel" aria-labelledby="estimate-tab">
					<partial name="_EstimatePartial" model="Model.Estimate" />
				</div>
				<div class="tab-pane fade" id="install" role="tabpanel" aria-labelledby="install-tab">
					<partial name="_InstallPartial" model="Model.Estimate" />
				</div>
				<div class="tab-pane fade" id="office" role="tabpanel" aria-labelledby="office-tab">
					<partial name="_OfficePartial" model="Model.Estimate" />
				</div>
			</div>

		</div>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />

	<script type="text/javascript">
		$("#btnSave").on("click", function (btn) {
			var assigned = $("#cboAssigned").val();
			var estimateid = $("#hidEstimateId").val();
			var active = $('#chkActive').prop('checked');

			var data = JSON.stringify({
				"EstimateId": estimateid,
				"Assigned": assigned,
				"Active": active
			});

			$.ajax({
				url: '/api/Estimates/SaveEstimate',
				type: 'POST',
				data: data,
				contentType: 'application/json',
				success: function(data) {
					//alert(data.message);
					AddStatusMessage('info', data.message);
				},
				error: function(data) {
					//alert(data.message);
					AddStatusMessage('error', data.message);
				}
			});
		});
	</script>
}