﻿@model MountainAir.Web.Models.EstimateListModel
@{
    ViewData["Title"] = "Proposals";
    NavPages.AddActivePage(ViewData, NavPages.Pages.Estimates);
}
@section Head {
    <style type="text/css">
        #contextMenu {
            position: absolute;
            display: none;
        }

        .approved {
            color: #008000;
            font-weight: bold;
        }

        .notapproved {
            color: red;
        }
    </style>
    <link href="~/lib/jquery-contextmenu/jquery.contextMenu.min.css" rel="stylesheet" />
}

<div class="card">
    <div class="card-header">
        <div class="float-left">
            <h5 class="card-title">@ViewData["Title"]</h5>
        </div>
        <div class="float-right">
            <div class="row">
                <div class="col-auto">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                Date Range
                            </span>
                        </div>
                        <select id="ddlDateRange" class="form-control">
                            <option value="0">All</option>
                            <option value="30" selected>30 Days</option>
                            <option value="60">60 Days</option>
                            <option value="90">90 Days</option>
                            <option value="180">180 Days</option>
                            <option value="365">365 Days</option>
                        </select>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Status</span>
                        </div>
                        <select id="ddlActive" class="form-control">
                            <option value="true" selected>Active</option>
                            <option value="false">Inactive</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div style="font-size: 0.8em;">
            <table id="estimateTable" class="table table-striped table-condensed">
                <thead></thead>
                <tbody></tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/lib/jquery-contextmenu/jquery.contextMenu.min.js"></script>
    <script src="~/lib/jquery-contextmenu/jquery.ui.position.min.js"></script>
    <script src="~/js/Estimates/Index.js" asp-append-version="true"></script>
}