﻿@model MountainAir.Common.Data.Models.Estimate

@{
    ViewData["Title"] = "Estimate Report";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-bordered table-condensed">
    <tr>
        <th>Customer:</th>
        <td>
            @Model.Customer.LastName,
            @Model.Customer.FirstName -
            @Model.Customer.CompanyName
        </td>
        <td></td>
        <th>Created Date:</th>
        <td>@Model.CreatedDate.ToShortDateString()</td>
        <td></td>
        <th>BY</th>
        <td>@Model.DesignerName</td>
    </tr>
    <tr>
        <th>Address:</th>
        <td>
            @Model.Address.AddressLine1.ToUpper()
        </td>
        <td></td>
        <th>Printed Date:</th>
        <td>@DateTime.Now.ToShortDateString()</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    @if (!string.IsNullOrEmpty(Model.Address.AddressLine2))
    {
        <tr>
            <td></td>
            <td>
                @Model.Address.AddressLine2.ToUpper()
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    }
    <tr>
        <td></td>
        <td>
            @Model.Address.City.ToUpper(), @Model.Address.State.ToUpper()
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td colspan="6">
            <table class="table table-bordered table-condensed">
                <tr>
                    <th></th>
                    <th>Summer</th>
                    <th>Winter</th>
                    <th></th>
                    <th>Temp Diff</th>
                </tr>
                <tr>
                    <th>Outside Design Temp:</th>
                    <td>@(70 + Model.SummerTempDiff.GetValueOrDefault())</td>
                    <td>@(70 - Model.WinterTempDiff.GetValueOrDefault())</td>
                    <th>Summer:</th>
                    <td>@Model.SummerTempDiff.GetValueOrDefault()</td>
                </tr>
                <tr>
                    <th>Inside Design Temp:</th>
                    <td></td>
                    <td></td>
                    <th>Winter</th>
                    <td>@Model.WinterTempDiff.GetValueOrDefault()</td>
                </tr>
            </table>
        </td>
        <td></td>
    </tr>
    <tr>
        <td colspan="8">
            <table class="table table-bordered table-condensed table-striped">
                <tr>
                    <th colspan="5" style="text-align:center;">ROOM DATA</th>
                    <th colspan="3" style="text-align:center;">COOLING DATA</th>
                    <th colspan="3" style="text-align:center;">HEATING DATA</th>
                    <th colspan="2" style="text-align:center;">REGISTERS</th>
                </tr>
                <tr>
                    <th>Number</th>
                    <th>Name</th>
                    <th>Ceiling<br />R-Value</th>
                    <th>Floor<br />R-Value</th>
                    <th>Wall<br />R-Value</th>

                    <th>BTU Gain</th>
                    <th>CFM</th>
                    <th>Registers</th>
                    
                    <th>BTU Loss</th>
                    <th>CFM</th>
                    <th>Registers</th>
                    
                    <th>Amount</th>
                    <th>Size</th>
                </tr>
                @for(int i = 0; i < Model.Rooms.Count(); i++)
                {
                    var room = Model.Rooms.ElementAt(i);
                    <tr>
                        <td>@(i + 1)</td>
                        <td>@room.RoomName</td>
                        <td>@room.CeilingRValue.GetValueOrDefault()</td>
                        <td>@room.FloorRValue.GetValueOrDefault()</td>
                        <td>@room.WallRValue.GetValueOrDefault()</td>

                        <td>@room.TotalSensible.GetValueOrDefault()</td>
                        <td>@room.CoolingCFM.GetValueOrDefault()</td>
                        <td>@room.CoolingRegisters.GetValueOrDefault()</td>
                        
                        <td>@room.RoomTotal</td>
                        <td>@room.HeatingCFM.GetValueOrDefault()</td>
                        <td>@room.HeatingRegisters.GetValueOrDefault()</td>
                        
                        <td>@room.AdditionalRegisters.GetValueOrDefault()</td>
                        <td>???</td>
                    </tr>
                }
            </table>
        </td>
    </tr>
</table>
