﻿@model MountainAir.Common.Data.Models.Warranty
@{
    Layout = "";
    ViewData["Title"] = @Model.DisplayText;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <partial name="_CssPartial" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comforter&display=swap" rel="stylesheet">

    <style type="text/css">
        .pageHeader {
            background-color: darkgray;
            font-weight: bold;
            padding-left: 5px;
        }

        .pageSubHeader {
            background-color: lightgray;
            font-weight: bold;
            font-style: italic;
            padding-left: 5px;
        }

        .underline {
            border-bottom: solid 1pt black;
        }

        td {
            white-space: nowrap;
            vertical-align: bottom;
        }

        .pageBody {
            padding: 10px;
        }

        body {
            min-height: 100vh;
            margin: 10px;
            padding: 10px;
            box-sizing: border-box;
            font-size: small;
            font-family: Times-New-Roman
        }

        footer {
            height: 50px;
            position: absolute;
            bottom: 0;
        }

        .signatureBlock {
            font-size: 10pt;
            border-bottom: none;
        }
    </style>
</head>
<body class="container">
    <content>
        <div style="page-break-after:always;">
            <div style="width: 100%">
                <table class="table-sm" style="width: 25%; margin: auto;">
                    <tr>
                        <td colspan="2" class="text-center"><img src="/images/logo.png" style="height: 100px;" alt="Letterhead" /></td>
                    </tr>
                    <tr>
                        <td class="text-right">3385 S. 1325 W. Ogden, Utah 84401</td>
                        <td>801-773-7171</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-center">www.mountainairutah.com</td>
                    </tr>
                </table>
            </div>
            <br />
            <p>
                Congratulations on the purchase of your new system. The following information describes your <b>Mountain Air Conditioning and Heating</b> @Model.DisplayText.
                This warranty is a valuable tool in helping you avoid unexpected repair expenses. <b>IMPORTANT</b>: You must carefully read the terms and conditions of the warranty in order to understand your obligations thereunder.
            </p>
            <table style="width: 50%">
                <tr>
                    <th>Home Owners Name:</th>
                    <td>@Model.CustomerName</td>
                </tr>
                <tr>
                    <th>Equipment Address:</th>
                    <td>
                        <table>
                            <tr><td>@Model.AddressLine1</td></tr>
                            <tr><td>@Model.AddressLine2</td></tr>
                            <tr><td>@($"{Model.City}, {Model.State} {Model.Zip}")</td></tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <th>Install Date:</th>
                    <td>@(Model.InstallDate.HasValue ? Model.InstallDate.Value.ToShortDateString() : "")</td>
                </tr>
                <tr>
                    <th>Effective Date:</th>
                    <td>@(Model.EffectiveDate.HasValue ? Model.EffectiveDate.Value.ToShortDateString() : "")</td>
                </tr>
                <tr>
                    <th>Expiration Date:</th>
                    <td>@(Model.ExpirationDate.HasValue ? Model.ExpirationDate.Value.ToShortDateString() : "")</td>
                </tr>
                <tr>
                    <th>Value of Warranty:</th>
                    <td>@($"{Model.TermText}/{Model.Value:C}")</td>
                </tr>
            </table>
            <br/>
            <p>
                By signing below, I acknowledge I have received and understand all the Terms & Conditions
                outlined in the Limited Parts & Labor Warranty and hereby agree to all the Terms & Conditions. I
                acknowledge and understand <b>I must pay and retain an annual plan for the duration of the warranty to keep the warranty valid</b>.
                Customer is responsible for paying Mountain Air Conditioning and Heating a <b>@($"{Model.ServiceFee:C}") service fee per system per visit</b> for all system calls, other than
                any prepaid maintenances from Mountain Air Conditioning and Heating.
            </p>
            <br />
            <table style="width: 50%;" cellspacing="10">
                <tr>
                    <td style="width: 25%;">
                        Customer's Signature
                    </td>
                    <td class="underline">
                        <img src="@Url.Action("Get", "Signatures", new { id = Model.EstimateId })" alt="" height="30" style="display: inline-block;" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 25%;">
                        Date:
                    </td>
                    <td>
                        @(Model.CustomerSignedDate.HasValue ? Model.CustomerSignedDate.Value.ToShortDateString() : "")
                    </td>
                </tr>
            </table>
            <p>Rev. 3/9/2020</p>
        </div>
        <div style="page-break-after: always;">
            <partial name="_WarrantHeaderPartial" />
            <p>
                Mountain Air Conditioning and Heating will repair or replace all eligible comfort system
                components on air conditioners, heat pumps, furnaces, air handlers, programmable thermostats and
                electronic cleaners in the event of a failure for a period of either TEN (10), FIFTEEN (15) years or
                LIFETIME. You will be charged a service fee of $95 per visit (the "Service Fee") but eligible components
                will be replaced at no additional cost to you. Additionally, labor charges that exceed the Service Fee will
                also be of no additional charge to you.
            </p>
            <p>
                The warranty period begins from the date of installation and is valid for the time-period that is indicated
                on your invoice.
            </p>
            <p>
                <b>Limitations</b>
                Eligible components include components of equipment purchased from and installed by
                Mountain Air Conditioning and Heating. The following are not included in the Limited Parts and Labor Warranty:
                <ol>
                    <li>
                        Air and water filters, water flow centers, clogged condensate drain lines and pumps, refrigerant
                        lines, ducting, dual fuel boards, zoning boards, non-steam humidifiers, and electrical wiring
                        external to the equipment.
                    </li>
                    <li>
                        Repairs to correct failure from acts of God, fire, water, storms, earthquake, faulty power, misuse
                        and abuse, or owner's failure to comply with the Owner's Responsibility (below).
                    </li>
                    <li>
                        Defects or damage that affect only the appearance or aesthetics of the equipment, including but
                        not limited to paint and cabinet parts and rust and corrosion that are natural to aging
                        equipment and that do not affect the operability of the equipment.
                    </li>
                    <li>
                        Items normally to be periodically replaced by the equipment owner during the product's life
                        such as air and water filters, UV lamps, humidifier pads, batteries, etc.
                    </li>
                    <li>
                        Repair or replacement of parts that are no longer available from the original manufacturer or
                        distributor (obsolete parts).
                    </li>
                </ol>
            </p>
            <p>The Limited Parts and Labor Warranty is not a contract of insurance.</p>
            <p>
                <b>Warranty Claims</b>
            </p>
            <p>
                <ol>
                    <li>
                        Should you believe that the Products/Systems are malfunctioning, contact
                        Mountain Air
                        Conditioning and Heating, at 801-773-7171 with your Warranty Certificate readily available.
                        Mountain Air Conditioning and Heatingwill determine whether the item is covered under
                        the Warranty and if it is, establish a time to inspect and diagnose the malfunctioning
                        Products/Systems.
                    </li>
                    <li>
                        Mountain Air Conditioning and Heating will inspect and diagnose the Products/Systems at
                        the HOMEOWNER's residence where the Products/Systems are located. HOMEOWNER should
                        NOT attempt to remove or move the Products/Systems from their site of installation. Any such
                        attempts by HOMEOWNER, may void and terminate this Warranty, and possibly, the
                        Manufacturer's warranty.
                    </li>
                    <li>
                        If Mountain Air Conditioning and Heatingdetermines that parts contained in the Products/
                        Systems must be replaced, Mountain Air Conditioning and Heating will do so.
                    </li>
                    <li>
                        HOMEOWNER must carefully review all of the terms and conditions of this Warranty in order to
                        fully understand HOMEOWNER'S rights and responsibilities and to avoid breaching the terms of
                        this Warranty, which may render it void.
                    </li>
                </ol>
            </p>
        </div>
        <div style="page-break-after: always;">
            <partial name="_WarrantHeaderPartial" />
            <p>
                <b>Warranty Transfer</b>
            </p>
            <p>
                If you sell your home within 15 years of the date you acquire the equipment, the Limited Parts and Labor
                Warranty will be transferable to the new owner within 30 days of the transfer of ownership of the home. To
                transfer the Warranty you must send the following documentation and payment to 3385 S. 1325 W., Ogden,
                UT, 84401: (i) a written request to transfer the warranty which identifies the successor owner; (ii) a transfer
                fee payable to Mountain Air Conditioning and Heating according to the transfer-fee schedule below; and
                (iii) previous records of the annual maintenance performed on the system by a licensed, qualified service
                company. This Warranty is limited to one transfer only.
            </p>
            <div class="w-100 text-center">
                <table style="margin: auto;">
                    <tr><th class="underline">Years After Installation<sup>1</sup></th><th class="underline">Transfer Fee</th></tr>
                    <tr><td>1-5</td><td>$250</td></tr>
                    <tr><td>6-10</td><td>$500</td></tr>
                    <tr><td>11-15<sup>2</sup></td><td>$1,000</td></tr>
                    <tr><td>16 or later<sup>3</sup></td><td>Non-transferable</td></tr>
                </table>
            </div>
            <p>
                <b>Owner's Responsibility</b>
                To be eligible for service under the Limited Parts and Labor Warranty, you must comply with all of the
                following:
                <ol>
                    <li>Operate equipment in accordance with the manufacturer's instructions and maintain items
                        normally to be periodically replaced by the equipment owner during the product life such as air
                        and water filters, UV lamps, humidifier pads, batteries, and other items as listed in the owner's
                        use and care manual.</li>
                    <li>Perform annually all service and repairs not covered by our warranty and ensure that such
                        service and repairs are made by an authorized service provider. Mountain Air Conditioning
                        and Heating will assume no responsibility for repairs made by an unauthorized service
                        provider.<sup>3</sup></li>
                    <li>Report all service issues promptly.</li>
                </ol>
            </p>
            <p>Failure to meet the above standards will void the Limited Parts and Labor Warranty.</p>
            <hr/>
            <p><sup>1</sup>A year begins on the anniversary of the installation of the equipment with year 1 beginning on the date of
                installation, year 6 beginning 5 years after the installation of the equipment, etc.</p>
            <p><sup>2</sup>If the warranty applies.</p>
            <p><sup>3</sup>Regular maintenance should typically be performed annually and can be performed by any qualified service
                company. We recommend that you use only Factory-Authorized service providers. Although we recommend a
                tune-up or maintenance twice each year, to maintain eligibility under this Limited Parts and Labor Warranty
                annual routine maintenance must be performed by a qualified service provider and you must provide
                documentation of such maintenance. A Mountain Air Conditioning and Heating maintenance plan is available to
                fulfill this requirement. Ask a Mountain Air Conditioning and Heating representative for details.</p>
        </div>
        <div style="page-break-after: always;">
            <partial name="_WarrantHeaderPartial" />
            <p><b>Availability of Service</b></p>
            <p>Mountain Air Conditioning and Heating shall not be liable for any damages sustained by
                HOMEOWNER or any other person or entity, whatsoever, arising out of delays in providing repairs or
                service, either before or after a day or time of service is agreed upon.</p>
            <p><b>Accessibility of Product</b></p>
            <p>If service is required, HOMEOWNER agrees to make the Products/Systems reasonably accessible to
                Mountain Air Conditioning and Heating. If the Products/Systems are not accessible, the repair
                person will have the option of declining to provide service or assessing HOMEOWNER an additional
                charge(s}, for making the Products/Systems accessible, commensurate with the difficulty of working on
                the Products/Systems.</p>
            <p><b>Buyout</b></p>
            <p>In the event of a covered claim, Mountain Air Conditioning and Heating may elect, in its sole and
                unilateral discretion, to buyout the Warranty during the coverage Term for the lesser of (i} current
                market value of a
                Product/System with equivalent specifications or (ii} retail price paid for HOMEOWNER'S
                Product/Systems minus sales tax, claims paid, and delivery and installation charges. When determining
                the current market value of a Product/System with equivalent specifications, a fair analysis is completed
                using current Manufacturers' and distributors' pricing on comparable products. All contractual
                obligations of the Parties are considered fulfilled upon buyout of the Product/System.</p>
            <p><b>Limitation of Liability</b></p>
            <p>NEITHER MOUNTAIN AIR CONDITIONING AND HEATING NOR THEIR AGENTS, CONTRACTORS,
                SUCCESSORS, ASSIGNS OR LICENSEES WILL UNDER ANY CIRCUMSTANCES BE LIABLE FOR ANY INCIDENTAL
                OR CONSEQUENTIAL DAMAGES, INCLUDING, BUT NOT LIMITED TO, PROPERTY DAMAGE, LOST TIME,
                LOST DATA RESULTING FROM THE BREAKDOWN OR FAILURE OF ANY EQUIPMENT OR FROM DELAYS IN
                SERVICING OR THE INABILITY TO RENDER SERVICE ON ANY COVERED EQUIPMENT. EXCLUSION IS MADE
                OF ANY IMPLIED WARRANTY OF FITNESS FOR A PARTICULAR PURPOSE. THERE ARE NO EXPRESS OR
                IMPLIED WARRANTIES MADE HEREIN.</p>
        </div>
    </content>
</body>
</html>