<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" />

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />

<link rel="stylesheet" type="text/css" href="~/lib/datatables/datatables.min.css" asp-append-version="true" />

<link rel="stylesheet" type="text/css" href="~/lib/editor/css/editor.bootstrap.min.css" asp-append-version="true" />
<link rel="stylesheet" type="text/css" href="~/lib/editor/css/editor.bootstrap5.min.css" asp-append-version="true" />
<link rel="stylesheet" type="text/css" href="~/lib/daterangepicker/daterangepicker.css" asp-append-version="true" />
