@model EditorViewModel

<div class="card">
    <div class="card-header">
        <h5 class="card-title">@ViewData["Title"]</h5>
    </div>
    <div class="card-body">
        <table id="@Model.TableId" class="table table-striped table-condensed"></table>
    </div>
</div>
