﻿@using Microsoft.AspNetCore.Identity
@using MountainAir.Web.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    var signedIn = SignInManager.IsSignedIn(User);
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MountainAir</title>

    <partial name="_CssPartial" />
    <link href="~/css/site.css" rel="stylesheet" />

    @await RenderSectionAsync("Head", false)
</head>
<body id="page-top">
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/Home">Mountain Air Heating and Air</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-flex justify-content-end">
            @if (signedIn)
            {
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-controller="Manage" asp-action="Index">
                            @user?.DisplayName
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" data-bs-toggle="modal" data-bs-target="#logoutModal" style="cursor: pointer;">
                            <i class="fas fa-fw fa-sign-out-alt"></i>Logout
                        </a>
                    </li>
                </ul>
            }
        </div>
    </header>
    <div class="container-fluid">
        <div class="row">
            @if (signedIn)
            {
                <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                    <div class="position-sticky pt-3">
                        <ul class="nav nav-pills flex-column">
                            <li class="nav-item">
                                <a class="nav-link @NavPages.PageNavClass(ViewContext, NavPages.Pages.Home)" href="/Home">
                                    Home
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @NavPages.PageNavClass(ViewContext, NavPages.Pages.Customers)" asp-controller="Customers" asp-action="Index">
                                    Customers
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @NavPages.PageNavClass(ViewContext, NavPages.Pages.Estimates)" asp-controller="Estimates" asp-action="Index">
                                    Estimates
                                </a>
                            </li>
                            <li class="nav-item">
                                <span class="nav-link">
                                    Reports
                                </span>
                                <ul>
                                    <li>
                                        <a class="nav-link @NavPages.PageNavClass(ViewContext, NavPages.Pages.EstimateEquipmentReport)" aria-current="page" asp-controller="Reports" asp-action="EstimateEquipmentReport">
                                            Estimate Equipment
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        @if (User.IsInRole("Administrators"))
                        {
                            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                                <span>Administration</span>
                            </h6>
                            <ul class="nav nav-pills flex-column">
                                <li class="nav-item">
                                    <a class="nav-link @NavPages.PageNavClass(ViewContext, NavPages.Pages.RoleAdmin)" asp-action="Index" asp-controller="RoleAdmin">
                                        Roles
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @NavPages.PageNavClass(ViewContext, NavPages.Pages.UserAdmin)" asp-action="Index" asp-controller="UserAdmin">
                                        Users
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @NavPages.PageNavClass(ViewContext, NavPages.Pages.Categories)" asp-action="Index" asp-controller="Categories">
                                        Categories
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @NavPages.PageNavClass(ViewContext, NavPages.Pages.CatalogItems)" asp-action="Index" asp-controller="CatalogItems">
                                        Catalog Items
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @NavPages.PageNavClass(ViewContext, NavPages.Pages.Features)" asp-action="Index" asp-controller="Feature">
                                        Features
                                    </a>
                                </li>
	                            <li class="nav-item">
		                            <a class="nav-link @NavPages.PageNavClass(ViewContext, NavPages.Pages.Financing)" asp-action="Index" asp-controller="Financing">
			                            Financing
		                            </a>
	                            </li>
	                            <li class="nav-item">
		                            <a class="nav-link @NavPages.PageNavClass(ViewContext, NavPages.Pages.Financing)" asp-action="Index" asp-controller="Location">
			                            Locations
		                            </a>
	                            </li>
                                <li class="nav-item">
                                    <a class="nav-link @NavPages.PageNavClass(ViewContext, NavPages.Pages.PaymentMethods)" asp-action="Index" asp-controller="PaymentMethod">
                                        Payment Methods
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @NavPages.PageNavClass(ViewContext, NavPages.Pages.Packages)" asp-action="Index" asp-controller="Packages">
                                        Packages
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @NavPages.PageNavClass(ViewContext, NavPages.Pages.WarrantyTypes)" asp-action="Index" asp-controller="WarrantyType">
                                        Warranty Types
                                    </a>
                                </li>
                            </ul>
                        }
                    </div>
                </nav>
            }
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="row justify-content-md-center">@await Component.InvokeAsync("StatusMessage")</div>
                <div>
                    @RenderBody()
                </div>
            </main>
        </div>
    </div>

    <partial name="_ScriptsPartial" />
    <script src="/js/DataTablesFunctions.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
<partial name="_LogoutPartial" />

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
