@using Microsoft.AspNetCore.Identity
@using MountainAir.Web.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}

<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item"><a asp-action="Index" asp-controller="Customers" class="nav-link">Customers</a></li>
        <li class="nav-item"><a asp-action="Index" asp-controller="Estimates" class="nav-link">Estimates</a></li>
        @if (User.IsInRole("Administrators"))
        {
            <li class="nav-item"><a asp-action="Index" asp-controller="Administration" class="nav-link">Administration</a></li>
        }
        <li class="nav-item">
            <a class="nav-link" asp-controller="Manage" asp-action="Index">
                @($"{user.FirstName} {user.LastName}")
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="modal" data-target="#logoutModal" style="cursor: pointer;">
                <i class="fas fa-fw fa-sign-out-alt"></i>Logout
            </a>
        </li>
    }
    else
    {
        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    }

</ul>