@model object

@{
    const string defaultVersion = "2.6.14";

    string vueJsDevUrl = $"https://cdn.jsdelivr.net/npm/vue@{defaultVersion}/dist/vue.js";
    string vueJsProdUrl = $"https://cdn.jsdelivr.net/npm/vue@{defaultVersion}/dist/vue.min.js";
}

<environment include="Development">
    <script src="@vueJsDevUrl"></script>
</environment>
<environment exclude="Development">
    <script src="@vueJsProdUrl"></script>
</environment>