﻿@{
    Layout = "/Views/Shared/_Layout.cshtml";
}


@section Head {
    @await RenderSectionAsync("Head", required: false)
}

<div class="card pt-2" id="reportContainer">
    <div class="card-header d-flex justify-content-between">
        <h5 class="card-title">@ViewData["Title"]</h5>
        <div>
            @await RenderSectionAsync("ReportsControls", required:false)
        </div>
    </div>
    <div class="card-body">
        @RenderBody()
    </div>
</div>

@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
}

