﻿@using MountainAir.Web.Views.Reports
@using Microsoft.AspNetCore.Mvc.TagHelpers

<ul class="nav flex-column nav-pills">
    <li class="nav-item"><a asp-action="Index" class="nav-link @ReportsNavPages.IndexNavClass(ViewContext)">Profile</a></li>
    <li class="nav-item"><a asp-action="EstimateEquipmentReport" class="nav-link @ReportsNavPages.EstimateEquipmentReportNavClass(ViewContext)">Estimate Equipment</a></li>
</ul>

