﻿@using MountainAir.Web.Views.Reports
@{
    ViewData["Title"] = "Estimate Equipment";
    NavPages.AddActivePage(ViewData, NavPages.Pages.EstimateEquipmentReport);
}

@section ReportsControls {
    <div class="row">
        <div class="col-auto">
            <img src="/images/busy-spinner.gif" style="height: 36px;" alt="" v-show="isUpdating" />
        </div>
        <div class="col-auto">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        Date Range
                    </span>
                </div>
                <date-range-picker id="date-range-picker" class="form-control" v-model="dateRange" :ranges="dateRangePickerRanges"></date-range-picker>
                <div class="input-group-addon">
                    <button class="btn btn-primary" v-bind:disabled="isUpdating" v-on:click="fetchDataFromApi">Update</button>
                </div>
            </div>
        </div>
    </div>
}

    <table id="tblEstimateEquipmentReport" class="table table-striped table-sm"></table>

    @section Scripts {
        <partial name="_VueJsPartial" />
        
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
        <script type="text/javascript" src="/js/vuecomponents/vue-date-range-picker.js" asp-append-version="true"></script>

    <script type="text/javascript">
        const dt = luxon.DateTime;
        var table;
        const percentageRender = $.fn.dataTable.render.number(',', '.', 2, '', '%');
        const currencyRender = $.fn.dataTable.render.number(',', '.', 2, '$');
        const activeRender = ma.web.datatables.renders.activeRender;
        const dateTimeRender = ma.web.datatables.renders.isoDateTimeRender;
        const domSchema = '<<<"row"<"col"QB><"col"f>>><t><"row"<"col"l><"col"i><"col"p>>>';
        const utcRightNow = moment.utc();
        const todaysDate = moment.utc().date();
        const isFirstTwoDaysOfMonth = todaysDate < 3;

        // Default to start of last month if we're in the first 2 days of the month; start of this month otherwise.
        const defaultStart = utcRightNow.clone().startOf('month').toDate();

        const defaultEnd = moment.utc(utcRightNow).toDate();

        // We have to adjust this month and last month for the first 2 days of the month to still be the month before and the month before that.
        const thisMonthStart = moment.utc(defaultStart);
        const thisMonthEnd = moment.utc(defaultEnd);

        const lastMonthStart = moment.utc(defaultStart).subtract(1, 'month');
        const lastMonthEnd = lastMonthStart.clone().endOf('month');

        // Clone the "moment"s above since moments are mutable.
        const pickerDateRanges = {
            'Last 7 Days': [moment.utc(defaultEnd).clone().subtract(7, 'days'), moment.utc(defaultEnd).clone()],
            'Last 30 Days': [moment.utc(defaultEnd).clone().subtract(30, 'days'), moment.utc(defaultEnd).clone()],
            'This Month': [thisMonthStart, thisMonthEnd],
            'Last Month': [lastMonthStart, lastMonthEnd]
        };

        $(document).ready(function() {
            
            var theVue = new Vue({
                el: '#reportContainer',
                data: {
                    dateRange: { startDate: defaultStart, endDate: defaultEnd },
                    dateRangePickerRanges: pickerDateRanges,
                    isUpdating: false,
                    table: null, 
                    tableData: null
                },
                computed: {
                    
                },
                methods: {
                    fetchDataFromApi() {
                        const vm = this;

                        vm.isUpdating = true;

                        var obj = JSON.stringify({
                            'StartDate': vm.dateRange.startDate,
                            'EndDate': vm.dateRange.endDate
                        });

                        $.post({
                            type: "POST",
                            url: `/api/Reports/GetEstimateEquipmentReport`,
                            data: obj,
                            contentType: "application/json; charset=utf-8",
                            dataType: 'json'
                        }).done(function (results) {
                            vm.tableData = results.data;
                            
                            vm.showData();

                            vm.$nextTick(function () {
                                vm.isUpdating = false;
                            });
                        }).fail(function () {
                            AddStatusMessage('error', 'Failed loading data.');
                            vm.isUpdating = false;
                        });
                    },
                    showData() {
                        const vm = this;
                        vm.table.clear();
                        vm.table.rows.add(vm.tableData);
                        vm.table.draw();
                    },
                    setupTable() {
                        const vm = this;
                        vm.table = $('#tblEstimateEquipmentReport').DataTable({
                            dom: domSchema,
                            proccessing: true,
                            colReorder: true,
                            autoWidth: false,
                            stateSave: true,
                            stateSaveCallback: function(settings, data) {
                                localStorage.setItem('DataTables_' + settings.sInstance, JSON.stringify(data));
                            },
                            stateLoadCallback: function(settings) {
                                return JSON.parse(localStorage.getItem('DataTables_' + settings.sInstance));
                            },
                            columns: [
                                {
                                    title: 'Estimate',
                                    data: null,
                                    render: function(data, type, row) {
                                        return `<div><a href="/Estimates/Edit/${row['estimateId']}">${row['estimateNumber']}</a>`;
                                    }
                                },
                                {
                                    title: "Customer",
                                    data: "customer.fullName"
                                },
                                {
                                    title: "Company",
                                    data: "customer.companyName"
                                },
                                {
                                    title: "Created By",
                                    data: "createdBy.fullName"
                                },
                                {
                                    title: "Created Date",
                                    data: "createdDate",
                                    render: dateTimeRender
                                },
                                {
                                    title: "Updated Date",
                                    data: "updatedDate",
                                    render: dateTimeRender,
                                    visible: false
                                },
                                { title: "Assigned To", data: "assignedTo.fullName", visible: false },
                                { title: "Catalog Number", data: "catalogNum" },
                                { title: "Model Number", data: "modelNum" },
                                { title: "Description", data: "description" },
                                { title: "Customer Description", data: "customerDescription", visible: false },
                                { title: "Item Price", data: "itemPrice", render: currencyRender },
                                { title: "Item Labor", data: "itemLabor", visible: false },
                                { title: "Quantity", data: "quantity" },
                                { title: "Total Labor", data: "totalLabor", visible: false },
                                { title: "Total Price", data: "totalPrice", render: currencyRender },
                                { title: "Material Labor", data: "materialLabor", visible: false },
                                { title: "Material Total", data: "materialTotal", render: currencyRender, visible: false }
                            ],
                            buttons: [
                                {
                                    extend: 'excelHtml5',
                                    exportOptions: {
                                        columns: ':visible'
                                    }
                                },
                                'colvis'
                            ]
                        });
                    }
                },

                mounted() {
                    const vm = this;
                    vm.setupTable();
                    this.$nextTick(function () {
                        vm.fetchDataFromApi();
                    });
                },

                watch: {
                    
                }
            });

            document.vm = theVue;
        });

        $('#datepicker').on('change', function() {
            LoadData();
        });

        function LoadData() {
            var url = "/api/Reports/GetEstimateEquipmentReport?dateRange=" + dr;

            if (table !== undefined) {
                table.ajax.url(url).load();
                $('#busyIcon').hide();
                return;
            }

            table = $('#tblEstimateEquipmentReport').DataTable({
                dom: domSchema,
                proccessing: true,
                colReorder: true,
                ajax: {
                    url: url,
                    type: 'GET',
                    dataSrc: function(json) {
                        $('#busyIcon').hide();
                        return json.data;
                    }
                },
                autoWidth: false,
                stateSave: true,
                stateSaveCallback: function(settings, data) {
                    localStorage.setItem('DataTables_' + settings.sInstance, JSON.stringify(data));
                },
                stateLoadCallback: function(settings) {
                    return JSON.parse(localStorage.getItem('DataTables_' + settings.sInstance));
                },
                columns: [
                    {
                        title: 'Estimate',
                        data: null,
                        render: function(data, type, row) {
                            return `<div><a href="/Estimates/Edit/${row['estimateId']}">${row['estimateNumber']}</a>`;
                        }
                    },
                    {
                        title: "Customer",
                        data: "customer.fullName"
                    },
                    {
                        title: "Company",
                        data: "customer.companyName"
                    },
                    {
                        title: "Created By",
                        data: "createdBy.fullName"
                    },
                    {
                        title: "Created Date",
                        data: "createdDate",
                        render: dateTimeRender
                    },
                    {
                        title: "Updated Date",
                        data: "updatedDate",
                        render: dateTimeRender,
                        visible: false
                    },
                    { title: "Assigned To", data: "assignedTo.fullName", visible: false },
                    { title: "Catalog Number", data: "catalogNum" },
                    { title: "Model Number", data: "modelNum" },
                    { title: "Description", data: "description" },
                    { title: "Customer Description", data: "customerDescription", visible: false },
                    { title: "Item Price", data: "itemPrice", render: currencyRender },
                    { title: "Item Labor", data: "itemLabor", visible: false },
                    { title: "Quantity", data: "quantity" },
                    { title: "Total Labor", data: "totalLabor", visible: false },
                    { title: "Total Price", data: "totalPrice", render: currencyRender },
                    { title: "Material Labor", data: "materialLabor", visible: false },
                    { title: "Material Total", data: "materialTotal", render: currencyRender, visible: false }
                ],
                buttons: [
                    {
                        extend: 'excelHtml5',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    'colvis'
                ]
            });
        }
    </script>
}