﻿@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="container py-4" style="background-color: aliceblue;">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">@ViewData["Title"]</h1>
            <p class="col-md-8 fs-4">Please check your email to reset your password.</p>
        </div>
    </div>
</div>