﻿@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="container" style="background-color: aliceblue;">
	<h2>@ViewData["Title"]</h2>
	<h4>Enter your email.</h4>
	<hr />
	<div class="row">
		<div class="col-md-4">
			<form asp-action="ForgotPassword" method="post">
				<div asp-validation-summary="All" class="text-danger"></div>
				<div class="mb-3">
					<label asp-for="Email" class="form-label"></label>
					<input asp-for="Email" class="form-control" />
					<span asp-validation-for="Email" class="text-danger"></span>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
