﻿@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MountainAir</title>

    <partial name="_CssPartial" />
</head>

<body class="fixed-nav bg-light" id="page-top">
    <div class="container">
        <img src="~/images/logo.png" height="60" />
        <div class="row justify-content-md-center" style="padding-top: 10px;">@await Component.InvokeAsync("StatusMessage")</div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-5">
                        <section>
                            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                                <h4>Use a local account to log in.</h4>
                                <hr />
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="mb-3">
                                    <label asp-for="UserName" class="form-label"></label>
                                    <input asp-for="UserName" class="form-control" />
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Password" class="form-label"></label>
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="RememberMe" class="form-check-label"></label>
                                    <input asp-for="RememberMe" class="form-check-input" />
                                </div>
                                <div class="mb-3">
                                    <button type="submit" class="btn btn-primary">Log in</button>
                                </div>
                                <div class="mb-3">
                                    <p>
                                        <a asp-action="ForgotPassword">Forgot your password?</a>
                                    </p>
                                </div>
                            </form>
                        </section>
                    </div>
                    <div class="col-md-6 col-md-offset-2">
   @*                     <section>
                            <h3>Use another service to log in.</h3>
                            <hr />
                            @{
                                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                                {
                                    <div>
                                        <p>
                                            There are no external authentication services configured. See this
                                            <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                                article
                                                about setting up this ASP.NET application to support logging in via external services
                                            </a>.
                                        </p>
                                    </div>
                                }
                                else
                                {
                                    <form id="external-account" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                        <div>
                                            <p>
                                                @foreach (var provider in Model.ExternalLogins)
                                                {
                                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                                }
                                            </p>
                                        </div>
                                    </form>
                                }
                            }
                        </section>*@
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @(DateTime.Now.Year) - MountainAir Heating & Air Conditioning</p>
        </footer>
    </div>

    <partial name="_ScriptsPartial" />

    @await Html.PartialAsync("_ValidationScriptsPartial")
</body>
</html>
