﻿@model MountainAir.Common.Data.Models.OptionItem

<div class="panel panel-info">
    <div class="panel-heading">
        <table class="table table-condensed table-bordered">
            <tr>
                <td>
                    KeyCode
                </td>
                <td>
                    Catalog Number
                </td>
                <td>
                    Model Number
                </td>
                <td>
                    Description
                </td>
            </tr>
            <tr>
                <td>@Model.KeyCode</td>
                <td>@Model.CatalogNum</td>
                <td>@Model.ModelNum</td>
                <td>@Model.Descr</td>
            </tr>
        </table>
    </div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <td valign="top" style="width:50%;">
                    <partial name="_MaterialList" model="Model.Lists[0]" />
                </td>
                <td valign="top" style="width:50%;">
                    <partial name="_MaterialList" model="Model.Lists[1]" />
                </td>
            </tr>
        </table>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            Additional PO & Materials Information
        </div>
        <div class="panel-body">
            <div>
                @{
                    string[] ques =
                    {
                        "TECHNICIAN: Did the common assemblies and the PO capture all the materials used on this project?",
                        "TECHNICIAN: Were any materials on a common assembly picked-up with a PO?",
                        "TECHNICIAN: List any additional materials (unless those materials are on a PO) used that are not part of the common assemblies?"
                    };
                }
                <table class="table table-bordered">
                    @foreach (var str in ques)
                    {
                    <tr style="background-color: lightgrey;">
                        <td>
                            @str
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    }
                    @for(int i = 0; i < 20 - ques.Length; i++)
                    {
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
