﻿@model MountainAir.Web.Models.WorkOrders.OfficeWorkOrderModel
@{
	ViewData["Title"] = "Office Work Order";
	Layout = "";
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>@ViewData["Title"]</title>
	<partial name="_CssPartial" />
</head>
<body>
	<table style="width:100%">
		<tr>
			<td>
				<p style="font-weight:bold; font-size:24pt;">
					@ViewData["Title"]
				</p>
			</td>
			<td align="right">
				<img src="/images/logo.png" height="60" style="float:right; z-index:-1" alt="Missing Image" />
			</td>
		</tr>
	</table>
	<div class="panel panel-primary">
		<div class="panel-heading">Customer Information</div>
		<div class="panel-body">
			<table class="table table-striped table-condensed table-bordered">
				<tr>
					<td class="tdLabel">Print Date</td>
					<td>@DateTime.Now.ToShortDateString()</td>
				</tr>
				<tr>
					<td class="tdLabel">
						Design Specialist
					</td>
					<td>
						@Model.Estimate.DesignerName
					</td>
				</tr>
				<tr>
					<td class="tdLabel">
						Full Name
					</td>
					<td>
						@($@"{Model.Customer.FullName} - {Model.Customer.CompanyName}")
					</td>
				</tr>
				<tr>
					<td class="tdLabel">Billing Address</td>
					<td>
						@($"{Model.BillingAddress.AddressLine1}, {Model.BillingAddress.AddressLine2}, {Model.BillingAddress.City}, {Model.BillingAddress.State}, {Model.BillingAddress.Zip}")
					</td>
				</tr>
				<tr>
					<td class="tdLabel">Site Address</td>
					<td>
						@($"{Model.InstallAddress.AddressLine1}, {Model.InstallAddress.AddressLine2}, {Model.InstallAddress.City}, {Model.InstallAddress.State}, {Model.InstallAddress.Zip}")
					</td>
				</tr>
				<tr>
					<td class="tdLabel">
						Phone
					</td>
					<td>@Model.Customer.PhoneNumber1 / @Model.Customer.PhoneNumber2</td>
				</tr>
				<tr>
					<td class="tdLabel">Installation Date</td>
					<td>@(Model.Estimate.InstallationDate.HasValue ? Model.Estimate.InstallationDate.Value.ToShortDateString() : "")</td>
				</tr>
				<tr>
					<td class="tdLabel">Payment Method</td>
					<td>@Model.Estimate.PaymentMethod</td>
				</tr>
				<tr>
					<td class="tdLabel">
						Total Price
					</td>
					<td>
						@Model.TotalCost.ToString("C")
					</td>
				</tr>
				<tr>
					<td class="tdLabel">
						Downpayment
					</td>
					<td>
						@Model.Estimate.DownPayment.GetValueOrDefault().ToString("C")
					</td>
				</tr>
				<tr>
					<td class="tdLabel">
						Gross Margin
					</td>
					<td>
						@(Model.Estimate.ProfitMarginRate.GetValueOrDefault())%
					</td>
				</tr>
				<tr>
					<td class="tdLabel">
						Estimated Hours
					</td>
					<td>
						@Model.TotalLabor
					</td>
				</tr>
				<tr>
					<td class="tdLabel">
						@Html.DisplayNameFor(model => model.Estimate.FinancingString)
					</td>
					<td>
						@Model.Estimate.FinancingString
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="panel panel-success">
		<div class="panel-heading">Equipment Information</div>
		<div class="panel-body">
			<table class="table table-striped table-condensed table-bordered">
				<tr>
					<th>System Number</th>
					<th>
						Catalog Number
					</th>
					<th>
						Model Number
					</th>
					<th>Location</th>
					<th>
						Description
					</th>
					<th>Price</th>
					<th>
						GP
					</th>
					<th>
						Qty
					</th>
					<th>Act</th>
				</tr>
				@foreach (var option in Model.OptionItems.OrderBy(o => o.SystemNumber).ThenBy(i => i.Section))
				{
					<tr>
						<td>@option.SystemNumber</td>
						<td>@option.CatalogNum</td>
						<td>@option.ModelNum</td>
						<td>@option.Location</td>
						<td>@option.Descr</td>
						<td>@option.ItemPrice.ToString("C")</td>
						<td>@option.ProfitMargin.GetValueOrDefault(0).ToString("p")</td>
						<td>@option.Quantity</td>
						<td></td>
					</tr>
					foreach (var mat in option.SpecialMaterial)
					{
						<tr>
							<td>@option.SystemNumber</td>
							<td>@mat.CatalogNum</td>
							<td>@mat.ModelNum</td>
							<td>@mat.Location</td>
							<td>@mat.Descr</td>
							<td>@mat.Price.GetValueOrDefault(0).ToString("C")</td>
							<td>@mat.Quantity</td>
							<td></td>
						</tr>
					}
				}
			</table>
		</div>
	</div>
</body>
</html>