﻿@model MountainAir.Common.Data.Models.OptionItem

<div>
    <table class="table" style="font-size:8pt;">
        <tr>
            <th>
                KeyCode
            </th>
            <th>
                Catalog Number
            </th>
            <th>
                Model Number
            </th>
            <th>
                Description
            </th>
        </tr>
        <tr>
            <td>@Model.CatalogNum</td>
            <td>@Model.ModelNum</td>
            <td>@Model.Descr</td>
        </tr>
    </table>
    @{
        var list0 = Model.Lists[0].OrderBy(m => m.SortOrder).ThenBy(m => m.CategoryName);
        var list1 = Model.Lists[1].OrderBy(m => m.SortOrder).ThenBy(m => m.CategoryName);
    }
    <table class="table">
        <tr>
            <td valign="top" style="width:50%;">
                <table class="table table-bordered table-condensed" style="font-size:8pt;">
                    <tr>
                        <th style="white-space: nowrap; width: 75px;">KeyCode</th>
                        <th style="white-space: nowrap;">Catalog Num</th>
                        <th style="white-space: nowrap;">Qty</th>
                        <th style="white-space: nowrap;">Act</th>
                    </tr>
                    @{
                        string lastCategory = "";
                        string className = "SectionOne";

                        foreach (var material in list0)
                        {
                            if (lastCategory != material.CategoryName)
                            {
                                if (className == "SectionOne")
                                {
                                    className = "SectionTwo";
                                }
                                else
                                {
                                    className = "SectionOne";
                                }
                                lastCategory = material.CategoryName;
                                <tr class="@className">
                                    <td colspan="4">@material.CategoryName</td>
                                </tr>
                            }

                            <tr class="@className">
                                <td>@material.KeyCode</td>
                                @if (string.Compare(material.CategoryName, "Thermostats", StringComparison.InvariantCultureIgnoreCase) == 0)
                                {
                                    <td>@material.Descr</td>
                                }
                                else
                                {
                                    <td>@material.CatalogNum</td>
                                }
                                @if (@material.Quantity > 0)
                                {
                                    <td class="hightlighted">@material.Quantity</td>
                                }
                                else
                                {
                                    <td>@material.Quantity</td>
                                }
                                <td>&nbsp;</td>
                            </tr>
                        }
                    }
                </table>
            </td>
            <td valign="top" style="width:50%;">
                <table class="table table-condensed table-bordered" style="font-size:8pt;">
                    <tr>
                        <th style="white-space: nowrap; width: 75px;">KeyCode</th>
                        <th style="white-space: nowrap;">Catalog Num</th>
                        <th style="white-space: nowrap;">Qty</th>
                        <th style="white-space: nowrap;">Act</th>
                    </tr>
                    @{
                        foreach (var material in list1)
                        {
                            if (lastCategory != material.CategoryName)
                            {
                                if (className == "SectionOne")
                                {
                                    className = "SectionTwo";
                                }
                                else
                                {
                                    className = "SectionOne";
                                }
                                lastCategory = material.CategoryName;
                                <tr class="@className">
                                    <td colspan="4">@material.CategoryName</td>
                                </tr>
                            }

                            <tr class="@className">
                                <td>@material.KeyCode</td>
                                @if (string.Compare(material.CategoryName, "Thermostats", StringComparison.InvariantCultureIgnoreCase) == 0)
                                {
                                    <td>@material.Descr</td>
                                }
                                else
                                {
                                    <td>@material.CatalogNum</td>
                                }
                                @if (@material.Quantity > 0)
                                {
                                    <td class="hightlighted">@material.Quantity</td>
                                }
                                else
                                {
                                    <td>@material.Quantity</td>
                                }
                                <td>&nbsp;</td>
                            </tr>
                        }
                    }
                </table>
            </td>
        </tr>
    </table>
</div>