﻿body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:8pt; 
    font-weight: bold;
}

td.tdLabel {
    font-weight: bold;
}

td.tdLeft {
    width: 25%;
}

td.tdRight {
    width: 75%;
}

div.PageBody {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
}

img.SectionIcon {
    width: 150px;
    height: 150px;
}

td.SectionOne {
    background-color: lightgray !important;
}

td.SectionTwo {
    background-color: white !important;
}

td.hightlighted {
    background-color: #ffff00 !important;
}
