﻿@model MountainAir.Web.Models.AddPackageMaterialViewModel
@{
    ViewData["Title"] = "Add Material";
    NavPages.AddActivePage(ViewData, NavPages.Pages.Packages);
}

<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h5 class="card-title">@ViewData["Title"]</h5>
        <a asp-action="EditPackageItem" asp-controller="Packages" asp-route-id="@Model.PackageItem.PackageItemId" class="btn btn-sm btn-secondary">Back to Equipment</a>
    </div>
    <div class="card-body">
        <div class="row">
            <input type="hidden" id="hidPackageItemId" asp-for="PackageItem.PackageItemId" />
            <div class="col">
                <div class="mb-3">
                    <label asp-for="CatalogItem.ModelNum" class="form-label"></label>
                    <input asp-for="CatalogItem.ModelNum" class="form-control" readonly />
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label asp-for="CatalogItem.CatalogNum" class="form-label"></label>
                    <input asp-for="CatalogItem.CatalogNum" class="form-control" readonly />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label asp-for="CatalogItem.Descr" class="form-label"></label>
                    <input asp-for="CatalogItem.Descr" class="form-control" readonly />
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label asp-for="CatalogItem.CustomerDesc" class="form-label"></label>
                    <input asp-for="CatalogItem.CustomerDesc" class="form-control" readonly />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label class="form-label">Categories</label>
                    <select id="ddlCategories" class="form-control custom-select" asp-items="Model.Categories">
                        <option value="0">Select</option>
                    </select>
                </div>
            </div>
            <div class="col">
            </div>
        </div>
        <hr />
        <table id="tblCatalogItems" class="table table-condensed table-striped">
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
<script src="~/js/Packages/AddPackageMaterial.js"></script>
}
