﻿@model MountainAir.Web.Models.AddPackageItemViewModel
@{
    ViewData["Title"] = "Add Equipment";
    NavPages.AddActivePage(ViewData, NavPages.Pages.Packages);
}

<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h5 class="card-title">@ViewData["Title"]</h5>
        <a asp-action="EditPackage" asp-controller="Packages" asp-route-id="@Model.Package.PackageId" class="btn btn-sm btn-secondary">Back To Package</a>
    </div>
    <div class="card-body">
        <div class="row">
            <input type="hidden" id="hidPackageId" asp-for="Package.PackageId" />
            <div class="col">
                <div class="mb-3">
                    <label asp-for="Package.PackageName" class="form-label"></label>
                    <input asp-for="Package.PackageName" class="form-control" readonly />
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-label">Categories</label>
                    <select id="ddlCategories" class="form-control custom-select" asp-items="Model.Categories">
                        <option value="0">Select</option>
                    </select>
                </div>
            </div>
        </div>
        <hr />
        <table id="tblCatalogItems" class="table table-condensed table-striped" style="font-size:0.8em;">
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
<script src="~/js/Packages/AddPackageItem.js"></script>
}
