﻿@model MountainAir.Common.Data.Models.Package

@{
    ViewData["Title"] = "Add Package";
    NavPages.AddActivePage(ViewData, NavPages.Pages.Packages);
}

<div class="card">
    <div class="card-header">
        <div>
            <h5 class="card-title">@ViewData["Title"]</h5>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="AddPackage">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-3">
                        <label asp-for="PackageName" class="control-label"></label>
                        <input asp-for="PackageName" class="form-control" />
                        <span asp-validation-for="PackageName" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <div class="checkbox">
                            <label>
                                <input asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                            </label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label asp-for="ProfitMargin" class="control-label"></label>
                        <input asp-for="ProfitMargin" class="form-control" />
                        <span asp-validation-for="ProfitMargin" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <a class="btn btn-secondary" asp-action="Index">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

