﻿@model MountainAir.Common.Data.Models.PackageItem
@{
    ViewData["Title"] = "Delete Equipment";
    NavPages.AddActivePage(ViewData, NavPages.Pages.Packages);
}
<h3 class="alert alert-danger" role="alert">Are you sure you want to delete this?</h3>
<div class="card">
    <div class="card-header">
        <div>
            <h5 class="card-title">@ViewData["Title"]</h5>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="DeletePackageItem">
                    <input asp-for="PackageItemId" type="hidden" />
                    <div class="mb-3">
                        <label asp-for="CatalogItem.ModelNum" class="form-label"></label>
                        <input asp-for="CatalogItem.ModelNum" class="form-control" readonly />
                    </div>
                    <div class="mb-3">
                        <label asp-for="CatalogItem.Descr" class="form-label"></label>
                        <input asp-for="CatalogItem.Descr" class="form-control" readonly />
                    </div>
                    <div class="mb-3">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                        <a class="btn btn-secondary" asp-action="EditPackage" asp-route-id="@Model.PackageId">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>