﻿@model MountainAir.Common.Data.Models.PackageMaterial
@{
    ViewData["Title"] = "Delete Material";
    NavPages.AddActivePage(ViewData, NavPages.Pages.Packages);
}
<h3 class="alert alert-danger" role="alert">Are you sure you want to delete this?</h3>
<div class="card">
    <div class="card-header">
        <div>
            <h5 class="card-title">@ViewData["Title"]</h5>
        </div>
    </div>
    <div class="card-body">
        <form asp-action="DeletePackageMaterial">
            <input asp-for="PackageItemId" type="hidden" />
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label asp-for="CatalogItem.ModelNum" class="control-label"></label>
                        <input asp-for="CatalogItem.ModelNum" class="form-control" readonly />
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label asp-for="CatalogItem.CatalogNum" class="control-label"></label>
                        <input asp-for="CatalogItem.CatalogNum" class="form-control" readonly />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label asp-for="CatalogItem.Descr" class="control-label"></label>
                        <input asp-for="CatalogItem.Descr" class="form-control" readonly />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label asp-for="CatalogItem.CustomerDesc" class="control-label"></label>
                        <input asp-for="CatalogItem.CustomerDesc" class="form-control" readonly />
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a class="btn btn-secondary" asp-action="EditPackageItem" asp-route-id="@Model.PackageItemId">Cancel</a>
            </div>
        </form>
    </div>
</div>