﻿@model MountainAir.Common.Data.Models.Package
@{
    ViewData["Title"] = "Delete Package";
    NavPages.AddActivePage(ViewData, NavPages.Pages.Packages);
}

<h3 class="alert alert-danger" role="alert">Are you sure you want to delete this?</h3>

<div class="card">
    <div class="card-header">
        <div>
            <h5 class="card-title">@ViewData["Title"]</h5>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="DeletePackage">
                    <input asp-for="PackageId" type="hidden" />
                    <div class="mb-3">
                        <label asp-for="PackageName" class="control-label"></label>
                        <input asp-for="PackageName" class="form-control" readonly />
                    </div>
                    <div class="mb-3">
                        <label asp-for="ProfitMargin" class="control-label"></label>
                        <input asp-for="ProfitMargin" class="form-control" readonly />
                    </div>
                    <div class="mb-3">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                        <a class="btn btn-secondary" asp-action="Index">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>