﻿@model MountainAir.Common.Data.Models.Package
@{
    ViewData["Title"] = "Edit " + Model.PackageName;
    NavPages.AddActivePage(ViewData, NavPages.Pages.Packages);
}

<div class="card p-2">
    <div class="card-header d-flex justify-content-between">
        <h5 class="card-title">@ViewData["Title"]</h5>
        <a asp-action="Index" asp-controller="Packages" class="btn btn-sm btn-secondary">Back to Packages</a>
    </div>
    <div class="card-body">
        <form asp-action="EditPackage">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="AddBy" type="hidden" />
            <input asp-for="AddDate" type="hidden" />
            <input id="hidPackageId" asp-for="PackageId" type="hidden" />
            <div class="col w-50">
                <div class="mb-3">
                    <label asp-for="PackageName" class="form-label"></label>
                    <input asp-for="PackageName" class="form-control" />
                    <span asp-validation-for="PackageName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ProfitMargin" class="form-label"></label>
                    <input asp-for="ProfitMargin" class="form-control" type="number" />
                    <span asp-validation-for="ProfitMargin" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="AhriRating" class="form-label"></label>
                    <input asp-for="AhriRating" class="form-control" type="number" />
                    <span asp-validation-for="AhriRating" class="text-danger"></span>
                </div>
                <div class="mb-3 form-check">
                    <label asp-for="Active" class="form-check-label"></label>
                    <input asp-for="Active" class="form-check-input" />
                </div>
                <div class="mb-3">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a class="btn btn-secondary" asp-action="Index">Cancel</a>
                </div>
            </div>
        </form>
    </div>
    <hr />
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <h5 class="card-title">Equipment</h5>
            <a class="btn btn-success" asp-action="AddPackageItem" asp-route-id="@Model.PackageId">
                <i class="fa fa-plus-circle"></i> Add Equipment
            </a>
        </div>
        <div class="card-body">
            <table id="tblEquipment" class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Section</th>
                        <th>Catalog Number</th>
                        <th>Description</th>
                        <th>Model Number</th>
                        <th>Quantity</th>
                        <th>Labor</th>
                        <th>Price</th>
                        <th>Active</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.PackageItems.OrderBy(i => i.Section))
                    {
                        <tr>
                            <td>
                                <a asp-action="EditPackageItem" asp-route-id="@item.PackageItemId"><i class="fa fa-edit btn-outline-warning"></i></a>
                                <a asp-action="DeletePackageItem" asp-route-id="@item.PackageItemId"><i class="fa fa-trash btn-outline-danger"></i></a>
                            </td>
                            <td>@item.OptionSection</td>
                            <td>@item.CatalogItem.CatalogNum</td>
                            <td>@item.CatalogItem.Descr</td>
                            <td>@item.CatalogItem.ModelNum</td>
                            <td>@item.Quantity</td>
                            <td>@item.Labor</td>
                            <td>@item.Price?.ToString("C")</td>
                            <td>@(item.CatalogItem.Active ? "Yes" : "No")</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
<script type="text/javascript">
    $(document).ready(function () {
        $('#tblEquipment').DataTable();
    });
</script>
}


