﻿@model MountainAir.Common.Data.Models.PackageMaterial
@{
    ViewData["Title"] = "Edit Material";
    NavPages.AddActivePage(ViewData, NavPages.Pages.Packages);
}

<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h5 class="card-title">@ViewData["Title"]</h5>
        <a asp-action="EditPackageItem" asp-controller="Packages" asp-route-id="@Model.PackageItemId" class="btn btn-sm btn-secondary">Back To Equipment</a>
    </div>
    <div class="card-body">
        <form asp-action="EditPackageMaterial">
            <input type="hidden" asp-for="PackageItemId" />
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label asp-for="CatalogItem.CatalogNum" class="form-label"></label>
                        <input asp-for="CatalogItem.CatalogNum" class="form-control" readonly />
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label asp-for="CatalogItem.ModelNum" class="form-label"></label>
                        <input asp-for="CatalogItem.ModelNum" class="form-control" readonly />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label asp-for="CatalogItem.Descr" class="form-label"></label>
                        <input asp-for="CatalogItem.Descr" class="form-control" readonly />
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label asp-for="CatalogItem.CustomerDesc" class="form-label"></label>
                        <input asp-for="CatalogItem.CustomerDesc" class="form-control" readonly />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label asp-for="Quantity" class="form-label"></label>
                        <input asp-for="Quantity" class="form-control" />
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label asp-for="Price" class="form-label"></label>
                        <input asp-for="Price" class="form-control" />
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label asp-for="Labor" class="form-label"></label>
                        <input asp-for="Labor" class="form-control" />
                    </div>
                </div>
            </div>
            <input type="submit" value="Save" class="btn btn-primary" />
        </form>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
