﻿@model MountainAir.Common.Data.Models.PackageItem
@{
    ViewData["Title"] = "Edit Equipment";
    NavPages.AddActivePage(ViewData, NavPages.Pages.Packages);
}

<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h5 class="card-title">@ViewData["Title"]</h5>
        <a asp-action="EditPackage" asp-route-id="@Model.PackageId" class="btn btn-sm btn-secondary">Back To Package</a>
    </div>
    <div class="card-body">
        <form asp-action="EditPackageItem">
            <input type="hidden" asp-for="PackageId" />
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label asp-for="CatalogItem.CatalogNum" class="form-label"></label>
                        <input asp-for="CatalogItem.CatalogNum" class="form-control" readonly />
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label asp-for="CatalogItem.ModelNum" class="form-label"></label>
                        <input asp-for="CatalogItem.ModelNum" class="form-control" readonly />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label asp-for="CatalogItem.Descr" class="form-label"></label>
                        <input asp-for="CatalogItem.Descr" class="form-control" readonly />
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label asp-for="CatalogItem.CustomerDesc" class="form-label"></label>
                        <input asp-for="CatalogItem.CustomerDesc" class="form-control" readonly />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label asp-for="Quantity" class="form-label"></label>
                        <input asp-for="Quantity" class="form-control" />
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label asp-for="Labor" class="form-label"></label>
                        <input asp-for="Labor" class="form-control" />
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label asp-for="Price" class="form-label"></label>
                        <input asp-for="Price" class="form-control" />
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label asp-for="AdditionalPrice" class="form-label"></label>
                        <input asp-for="AdditionalPrice" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label asp-for="CalculatedPrice" class="form-label"></label>
                        <input asp-for="CalculatedPrice" class="form-control" readonly />
                    </div>
                </div>
                <div class="col"></div>
            </div>
            <input type="submit" value="Save" class="btn btn-primary" />
        </form>
    </div>
</div>
<hr />
<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h5 class="card-title">Material</h5>
        <a class="btn btn-sm btn-success" asp-action="AddPackageMaterial" asp-route-id="@Model.PackageItemId">
            <i class="fa fa-plus-circle"></i> Add Material
        </a>
    </div>
    <div class="card-body">
        <table id="tblCatalogItems" style="font-size: 0.8em;" class="table table-condensed table-striped">
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>
</div>
@section Scripts {
	@await Html.PartialAsync("_ValidationScriptsPartial")
<script type="text/javascript">
    var packageItemId = '@Model.PackageItemId';
</script>

<script src="~/js/Packages/EditPackageItem.js"></script>
}
