﻿@model IEnumerable<MountainAir.Common.Data.Models.Package>
@{
    ViewData["Title"] = "Packages";
    NavPages.AddActivePage(ViewData, NavPages.Pages.Packages);
}

@section Head {
}

<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h5 class="card-title">@ViewData["Title"]</h5>
        <a class="btn btn-sm btn-success" asp-action="AddPackage"><i class="fa fa-plus-circle"></i> Add Package</a>
    </div>
    <div class="card-body">
        <table id="tblPackages" class="table table-striped table-condensed table-hover">
            <thead>
              
            </thead>
            <tbody>
               
            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    <script src="/js/Packages/Index.js"></script>
@*<script type="text/javascript">
    $(document).ready(function () {
        $('#tblPackages').DataTable({
            dom: '<<<"row"<"col"B><"col"f>>><t><"row"<"col"l><"col"i><"col"p>>>',
            stateSave: true,
            stateSaveCallback: function (settings, data) {
                localStorage.setItem('DataTables_' + settings.sInstance, JSON.stringify(data));
            },
            stateLoadCallback: function (settings) {
                return JSON.parse(localStorage.getItem('DataTables_' + settings.sInstance));
            },
        });
    });
</script>*@
}