﻿@model PackageEditingModel
@{
    ViewData["Title"] = $"Package Items for {Model.Package.PackageName}";
    NavPages.AddActivePage(ViewData, NavPages.Pages.Packages);
}

@section Head {

}

<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h5 class="card-title">
            @ViewData["Title"]
        </h5>
        <a asp-action="Index" asp-controller="Packages" class="btn btn-sm btn-secondary">Back to Package List</a>
    </div>
    <div class="card-body">
        <table id="tblPackageItems" class="table table-striped table-condensed table-hover">
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script type="text/javascript">
        const packageId = '@(Model.Package.PackageId)';
        const catalogItems = @(Html.Raw(Model.CatalogItemsJson));
    </script>
    <script src="/js/Packages/PackageItems.js"></script>
}