﻿@{
    Layout = "/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h2>Manage your account</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}

