﻿@using MountainAir.Web.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav flex-column nav-pills">
    <li class="nav-item"><a asp-action="Index" class="nav-link @ManageNavPages.PageNavClass(ViewContext, ManageNavPages.Pages.Index)">Profile</a></li>
    @*<li class="nav-item"><a asp-action="ChangePassword" class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)">Password</a></li>*@
    @if (hasExternalLogins)
    {
        <li class="nav-item"><a asp-action="ExternalLogins" class="nav-link @ManageNavPages.PageNavClass(ViewContext, ManageNavPages.Pages.ExternalLogins)">External logins</a></li>
    }
    @*<li class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)"><a asp-action="TwoFactorAuthentication">Two-factor authentication</a></li>*@
</ul>

