﻿@{
    ViewData["Title"] = "Home Page";
    NavPages.AddActivePage(ViewData, NavPages.Pages.Home);
}

@section Head {
<style type="text/css">
    .carouselPic {
        height: 400px;
    }
</style>
}

<div class="container">
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100 carouselPic" src="~/images/Spring.jpg" alt="Spring in Utah">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 carouselPic" src="~/images/Summer.jpg" alt="Summer in Utah">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 carouselPic" src="~/images/Fall.jpg" alt="Fall in Utah">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 carouselPic" src="~/images/Winter.jpg" alt="Winter in Utah">
            </div>
        </div>
    </div>
    <br />
    <h4>Most Recent Estimates Marked as Ready</h4>
    <table id="estimateTable" class="table table-striped" style="font-size:0.8em;">
        <thead></thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts {
<script src="/js/Home.js" asp-append-version="true"></script>
}