﻿@model MountainAir.Web.Models.FileUploadModel
@{
    ViewData["Title"] = "File Upload";
    string statusMessage = ViewBag.StatusMessage;
    NavPages.AddActivePage(ViewData, NavPages.Pages.FileUpload);
}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">@ViewData["Title"]</h5>
    </div>
    <div class="card-body">
        <div class="w-50">
            <div class="mb-3">
                <label asp-for="CategoryId"></label>
                <select asp-for="CategoryId" asp-items="@Model.Categories" class="form-control"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label>Upload With Selected Category</label>
                <form action="/FileUpload/UploadFile/@Model.CategoryId" class="dropzone rounded" style="background-color:aliceblue;" id="myDropZone"></form>
            </div>
            <div class="mb-3">
                <label>Upload With Embedded Category</label>
                <form action="/FileUpload/UploadFile" class="dropzone rounded" style="background-color:aliceblue;" id="myDropZone"></form>
            </div>
            <div class="mb-3">
                <label>Sample Spreadsheet</label>
                <div class="col-md-10">
                    <a href="~/Downloads/ImportTemplate.csv" class="btn btn-primary">Download</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $('#CategoryId').on('change', function () {
            var id = $(this).val();

            window.location = '/FileUpload/Index/' + id;
        });

        Dropzone.options.myDropZone = {
            acceptedFiles: ".csv",
            maxFilesize: 10, // Mb
            init: function () {
                // Set up any event handlers
                this.on('success', function (file, response) {
                    //$('#fileList').empty();
                    //$('#fileList').append($('<li />').html(response.message));
                });

                this.on('complete', function (file) {
                    if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                        var message = "";

                        if (file.status.toLowerCase() === "error") {
                            console.log(file.status);
                            message = file.name + " had errors";
                            AddStatusMessage('error', message);
                        } else {
                            message = file.name + " uploaded";
                            AddStatusMessage('success', message);
                        }
                    }
                    //waitingDialog.hide();
                });

                this.on("sending", function (file, xhr, formData) {
                    //waitingDialog.show();
                    /*Called just before each file is sent*/
                    xhr.ontimeout = (() => {
                        /*Execute on case of timeout only*/
                        console.log('Server Timeout')
                    });
                });
            }
        };
    </script>
}