﻿@using Newtonsoft.Json
@model CatalogItemsViewModel
@{
    ViewData["Title"] = "Catalog Items";
    NavPages.AddActivePage(ViewData, NavPages.Pages.CatalogItems);
}

@section Head {
    <style type="text/css">

    </style>
}

<div class="card" id="vue-root">
    <div class="card-header d-flex justify-content-between">
        <h5 class="card-title">@ViewData["Title"]</h5>
        <div class="input-group mb-3 w-25">
            <div class="input-group-prepend">
                <span class="input-group-text">Category</span>
            </div>
            <select id="ddlCategories" class="form-control" asp-items="Model.CategoriesSelectList"></select>
        </div>
    </div>
    <div class="card-body">
        <table id="tblCatalogItems" class="table table-sm">
        </table>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        const categoryOptions = @Html.Raw(Model.CategoryOptionsJson);
    </script>
    <script src="~/js/CatalogItems.js" asp-append-version="true"></script>
}
