﻿@model MountainAir.Web.Models.CategoryIndexModel
@{
    ViewData["Title"] = "Categories";
    NavPages.AddActivePage(ViewData, NavPages.Pages.Categories);
}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">@ViewData["Title"]</h5>
    </div>
    <div class="card-body">
        <table id="tblCategories" class="table table-striped table-sm"></table>
    </div>
</div>

@section Scripts {
    <script src="~/js/Categories.js" asp-append-version="true"></script>
}