﻿@model EditorViewModel<MountainAir.Common.Data.Models.Feature>
@{
    ViewData["Title"] = "Features";
    NavPages.AddActivePage(ViewData, NavPages.Pages.Features);
}

<partial name="_DataTablesEditor" model="Model.EditorConfiguration" />

@section Scripts {
    <script type="text/javascript">
        const config = @Html.Raw(Model.EditorConfigurationJson);
    </script>
    <script type="text/javascript" src="/js/GenericDataTable.js" asp-append-version="true"></script>
}