﻿@model MountainAir.Web.Models.FileUploadModel
@{
    ViewData["Title"] = "File Upload";
    string statusMessage = ViewBag.StatusMessage;
    NavPages.AddActivePage(ViewData, NavPages.Pages.FileUpload);
}

<link href="~/lib/dropzone/dropzone.min.css" rel="stylesheet" />

<div class="card">
    <div class="card-header">
        <h5 class="card-title">@ViewData["Title"]</h5>
    </div>
    <div class="card-body">
        <div class="col-4">
            <div class="mb-3">
                <label asp-for="CategoryId"></label>
                <select asp-for="CategoryId" asp-items="@Model.Categories" class="form-control"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div>
                <form action="/FileUpload/UploadFile/@Model.CategoryId" class="dropzone rounded" style="background-color:aliceblue;" id="myDropZone"></form>
            </div>
            <div class="mb-3">
                <label>Sample Spreadsheet</label>
                <div class="col-md-10">
                    <a href="~/Downloads/ImportTemplate.csv">Download</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/dropzone/dropzone.min.js"></script>

    <script type="text/javascript">
        $('#CategoryId').on('change', function () {
            var id = $(this).val();

            window.location = '/FileUpload/Index/' + id;
        });

        Dropzone.options.myDropZone = {
            acceptedFiles: ".csv",
            maxFilesize: 10, // Mb
            init: function () {
                // Set up any event handlers
                this.on('success', function (file, response) {
                    //$('#fileList').empty();
                    //$('#fileList').append($('<li />').html(response.message));
                });

                this.on('complete', function (file) {
                    if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                        var message = "";

                        if (file.status.toLowerCase() === "error") {
                            message = file.name + " had errors";
                        } else {
                            message = file.name + " uploaded";
                        }

                        //$('#fileList').append($('<li />').text(message));
                        AddStatusMessage(file.status, message);
                    }
                    //waitingDialog.hide();
                });

                this.on("sending", function (file, xhr, formData) {
                    //waitingDialog.show();
                    /*Called just before each file is sent*/
                    xhr.ontimeout = (() => {
                        /*Execute on case of timeout only*/
                        console.log('Server Timeout')
                    });
                });
            }
        };
    </script>
}