﻿@{
    ViewData["Title"] = "Administration Menu";
}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">@ViewData["Title"]</h5>
    </div>
    <div class="card-body">
        <div class="list-group">
            <h4 class="list-group-item-heading">General Admin</h4>
            <ul class="list-group">
                <li class="list-group-item">
                    <a asp-action="Index" asp-controller="RoleAdmin">Roles</a>
                </li>
                <li class="list-group-item">
                    <a asp-action="Index" asp-controller="UserAdmin">Users</a>
                </li>
            </ul>
            <br />
            <h4 class="list-group-item-heading">Catalog Admin</h4>
            <ul class="list-group">
                <li class="list-group-item">
                    <a asp-action="Index" asp-controller="FileUpload">File Upload</a>
                </li>
                <li class="list-group-item">
                    <a asp-action="Index" asp-controller="Categories">Categories</a>
                </li>
                <li class="list-group-item">
                    <a asp-action="Index" asp-controller="CatalogItems">Catalog Items</a>
                </li>
                <li class="list-group-item">
                    <a asp-action="Index" asp-controller="Features">Features</a>
                </li>
                <li class="list-group-item">
                    <a asp-action="Index" asp-controller="Financing">Financing</a>
                </li>
                <li class="list-group-item">
                    <a asp-action="Index" asp-controller="PaymentMethods">Payment Methods</a>
                </li>
                <li class="list-group-item">
                    <a asp-action="Index" asp-controller="Packages">Packages</a>
                </li>
                <li class="list-group-item">
                    <a asp-action="Index" asp-controller="WarrantyTypes">Warranty Types</a>
                </li>
            </ul>
        </div>
    </div>
</div>

