﻿@model EditorViewModel<MountainAir.Common.Data.Models.WarrantyType>
@{
    ViewData["Title"] = "Warranty Types";
    NavPages.AddActivePage(ViewData, NavPages.Pages.WarrantyTypes);
}

<partial name="_DataTablesEditor" model="Model.EditorConfiguration" />

@section Scripts {
    <script type="text/javascript">
        const config = @Html.Raw(Model.EditorConfigurationJson);
    </script>
    <script type="text/javascript" src="/js/GenericDataTable.js" asp-append-version="true"></script>
}
