﻿@model MountainAir.Common.Data.Models.Address

@{
    ViewData["Title"] = "Address Details";
}


<div class="card">
    <div class="card-header">
        <h5 class="card-title">@ViewData["Title"]</h5>
    </div>
    <div class="card-body">
        <input type="hidden" asp-for="CustomerId" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div>
            <label>Customer</label>
            <div class="mb-3 row">
                <div class="col">
                    <input asp-for="Customer.FirstName" class="form-control" disabled />
                </div>
                <div class="col">
                    <input asp-for="Customer.LastName" class="form-control" disabled />
                </div>
                <div class="col">
                    <input asp-for="Customer.CompanyName" class="form-control" disabled />
                </div>
            </div>
            <div class="mb-3">
                <label asp-for="AddressLine1"></label>
                <input asp-for="AddressLine1" class="form-control" disabled />
            </div>
            <div class="mb-3">
                <label asp-for="AddressLine2"></label>
                <input asp-for="AddressLine2" class="form-control" disabled />
            </div>
            <div class="row">
                <div class="mb-3 col">
                    <label asp-for="City"></label>
                    <input asp-for="City" class="form-control" disabled />
                </div>
                <div class="mb-3 col">
                    <label asp-for="State"></label>
                    <select asp-for="State" class="form-control" disabled>
                        <option value="">Select</option>
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV">Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY">Wyoming</option>

                    </select>
                </div>
                <div class="mb-3 col">
                    <label asp-for="Zip"></label>
                    <input asp-for="Zip" class="form-control" disabled />
                </div>
            </div>
        </div>
        <div class="mb-3">
            <a asp-action="Details" asp-controller="Customers" asp-route-id="@Model.CustomerId" class="btn btn-secondary">Cancel</a>
        </div>
    </div>
</div>
