﻿@model List<MountainAir.Web.Models.StatusMessageViewModel>

<div id="alertArea" style="position: fixed; width: 50%; z-index: 999;">
    @if (Model != null && Model.Any())
    {
        foreach (StatusMessageViewModel msg in Model)
        {
    <script type="text/javascript">
                AddStatusMessage('@(msg.Level.ToCssLevel())', '@(msg.Message)', '@(msg.AutoHide.ToString())');
    </script>
        }
    }
</div>