﻿@model MountainAir.Web.Models.RoleAdmin.RoleModel
@{
    ViewData["Title"] = "Edit Role";
    NavPages.AddActivePage(ViewData, NavPages.Pages.RoleAdmin);
}


<div class="card">
    <div class="card-header">
        <h4>Edit - @Model.Name</h4>
    </div>
    <div class="card-body">
        <input type="hidden" asp-for="Id" />
        <table id="tblRoles" class="table table-bordered">
            <thead>
                <tr>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Assigned</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users.OrderBy(i => i.LastName).ThenBy(i => i.FirstName))
                {
                    <tr>
                        <td>@user.LastName</td>
                        <td>@user.FirstName</td>
                        <td>
                            <input type="checkbox" class="form-check"
                                   @(user.Assigned ? "checked" : "")
                                   onchange="changeAssignment('@user.UserId')" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        function changeAssignment(userid) {
            var roleid = $("#Id").val();

            var data = JSON.stringify({
                'RoleId': roleid,
                'UserId': userid
            });

            //console.log('Sending', data);

            $.ajax({
                url: '/api/RoleAdmin/SaveRights',
                type: 'POST',
                data: data,
                contentType: 'application/json',
                success: function (data) {
                    console.log('Received', data);
                    AddStatusMessage('success', data.message);
                },
                error: function (data) {
					console.log('Error', data);
					AddStatusMessage('error', data);
                }
            })
        }
    </script>
}
