﻿@model MountainAir.Web.Models.RoleAdmin.RoleAdminViewModel
@{
    ViewData["Title"] = "Manage Roles";
    NavPages.AddActivePage(ViewData, NavPages.Pages.RoleAdmin);
}
<div class="card col-6">
    <div class="card-header">
        <h4>@ViewData["Title"]</h4>
    </div>
    <div class="card-body">
        <ul class="list-group">
            @foreach (var role in Model.Roles)
            {
                <li class="list-group-item"><b>@role.Name</b> <a asp-action="Edit" asp-route-id="@role.Id"><i class="fa fa-fw fa-edit"></i></a></li>
            }
        </ul>
    </div>
</div>
