﻿@model MountainAir.Common.Data.Models.Customer
@{
    ViewData["Title"] = "Create Customer";
    NavPages.AddActivePage(ViewData, NavPages.Pages.Customers);
}

<form asp-action="Create">
    <div class="card>">
        <div class="card-header">
            <h5 class="card-title">@ViewData["Title"]</h5>
        </div>
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-label">Last Name</label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">First Name</label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Company</label>
                    <input asp-for="CompanyName" class="form-control" />
                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Phone Number 1</label>
                    <input asp-for="PhoneNumber1" class="form-control" />
                    <span asp-validation-for="PhoneNumber1" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Phone Number 2</label>
                    <input asp-for="PhoneNumber2" class="form-control" />
                    <span asp-validation-for="PhoneNumber2" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="mb-3">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
}

