﻿@model MountainAir.Common.Data.Models.Customer
@{
    ViewData["Title"] = "Customer Details";
    NavPages.AddActivePage(ViewData, NavPages.Pages.Customers);
}
<div class="card>">
    <div class="card-header">
        <h5 class="card-title">@ViewData["Title"]</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label>Last Name</label>
                    <input asp-for="LastName" class="form-control" disabled />
                </div>
                <div class="mb-3">
                    <label>First Name</label>
                    <input asp-for="FirstName" class="form-control" disabled />
                </div>
                <div class="mb-3">
                    <label>Company</label>
                    <input asp-for="CompanyName" class="form-control" disabled />
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label>Phone Number 1</label>
                    <input asp-for="PhoneNumber1" class="form-control" disabled />
                </div>
                <div class="mb-3">
                    <label>Phone Number 2</label>
                    <input asp-for="PhoneNumber2" class="form-control" disabled />
                </div>
                <div class="mb-3">
                    <label>Email</label>
                    <input asp-for="Email" class="form-control" disabled />
                </div>
            </div>
        </div>
    </div>
    <div>
        <a asp-action="Create" asp-controller="Addresses" asp-route-id="@Model.CustomerId">Create New Address</a> |
        <a asp-action="Edit" asp-route-id="@Model.CustomerId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                Address Line 1
            </th>
            <th>
                Address Line 2
            </th>
            <th>
                City
            </th>
            <th>
                State
            </th>
            <th>
                Zip
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Addresses)
        {
            <tr>
                <td>
                    @item.AddressLine1
                </td>
                <td>
                    @item.AddressLine2
                </td>
                <td>
                    @item.City
                </td>
                <td>
                    @item.State
                </td>
                <td>
                    @item.Zip
                </td>
                <td>
                    <a asp-action="Edit" asp-controller="Addresses" asp-route-id="@item.AddressId"><i class="fa fa-fw fa-edit"></i></a> |
                    <a asp-action="Details" asp-controller="Addresses" asp-route-id="@item.AddressId"><i class="fa fa-fw fa-search"></i></a> |
                    <a asp-action="Delete" asp-controller="Addresses" asp-route-id="@item.AddressId"><i class="fa fa-fw fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
