﻿@model IEnumerable<MountainAir.Common.Data.Models.Customer>
@{
    ViewData["Title"] = "Customers";
    NavPages.AddActivePage(ViewData, NavPages.Pages.Customers);
}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">@ViewData["Title"]</h5>
    </div>
    <div class="card-body">
        <div style="font-size: 0.8em;">
            <table id="tblCustomers" class="table table-condensed table-striped">
                <thead></thead>
                <tbody></tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/Customers/Index.js"></script>
}
