﻿@{
    ViewData["Title"] = "Manage Users";
    NavPages.AddActivePage(ViewData, NavPages.Pages.UserAdmin);
}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">@ViewData["Title"]</h5>
    </div>
    <div class="card-body">
        <table id="userTable" class="table table-striped table-hover">
            <thead></thead>
            <tbody></tbody>
            <tfoot></tfoot>
        </table>
    </div>
</div>


@section Scripts {
<script src="~/js/UserAdmin.js" asp-append-version="true"></script>
}